﻿@model EdukiteService.Business.Entities.GradeModel


@{
    ViewBag.Title = "Create";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <!-- Main content -->
            <section class="content backend-middle-main-container">

                <div class="backend-middle-main-container-inner">
                    <div class="col-lg-7 col-sm-6 col-md-6 col-xs-12">
                        @if (ViewBag.GradeData != null)
                        {
                            @Html.Partial("_GetAllGrades", (IEnumerable<EdukiteService.Business.Entities.GradeModel>)ViewBag.GradeData)
                        }
                    </div>

                    <div class="col-lg-5 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-container">
                            <div class="box box-primary">
                                <div class="box-header">
                                    <h3 class="box-title">Add Grade</h3>
                                </div>
                                <!-- /.box-header -->
                                <!-- form start -->
                                <form role="form" action="/Grades/Create" id="createForm" method="post">

                                    @using (Html.BeginForm())
                                    {

                                        @Html.AntiForgeryToken()


                                        <div class="box-body">



                                            <div class="form-group">

                                                <label for="exampleInputEmail1" class="control-label col-md-2">Name*</label>
                                                <div>
                                                    @Html.EditorFor(model => model.GradeName, new { htmlAttributes = new { @type = "number", @class = "form-control height-75" } })
                                                    @Html.ValidationMessageFor(model => model.GradeName, "", new { @class = "text-danger" })

                                                </div>
                                            </div>



                                            <div class="form-group">
                                                <label for="exampleInputPassword1" class="control-label col-md-2">Description</label>
                                                <div>
                                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control height-75" } })
                                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <p class="help-block">*The grade will have to be published manually using the <a href="#" class="publish-btn">&nbsp;</a> icon.</p>
                                            </div>

                                        </div>
                                    <!-- /.box-body -->

                                        <div class="box-footer">
                                            <div class="box-footer-inner col-lg-8 col-sm-10 col-md-8 col-xs-12">

                                                <input type="submit" value="Create" class="btn btn-default" />

                                                @*<button type="submit" class="btn btn-grey pull-right">Cancel</button>*@
                                                <input type="button" Value="Cancel" class="btn btn-grey pull-right" id="cancelGrade" onclick="location.href='@Url.Action("GetGrades", "Grades")'">
                                            </div>
                                        </div>
                                    }

                                </form>
                            </div>
                        </div>
                        <!--<img src="img/div-place-right.png" class="" alt="backend" style="height: auto; width: 76%;">-->
                    </div>
                </div>

            </section>

        </div>
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->




@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
    @Scripts.Render("~/bundles/validate")
}
