﻿@model IEnumerable<EdukiteService.Business.Entities.GradeModel>

@{
    ViewBag.Title = "GetGrades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <!-- Main content -->
            <section class="content backend-middle-main-container">

                <div class="backend-middle-main-container-inner">
                    <div class="col-lg-7 col-sm-6 col-md-6 col-xs-12 verticle-separate horizontal-separate">
                        @Html.Partial("_GetAllGrades", Model)
                    </div>

                    <div class="col-lg-5 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-container">
                            <div class="box box-primary">
                                <!-- form start -->
                                <form role="form" class="no-border">
                                    <div class="box-body">
                                        @*<button type="submit" class="btn btn-grey btn-centered uppercase padd-left-right-35">Add <br>Grade</button>*@

                                        <input type="button" Value="Add Grade" class="btn btn-grey btn-centered uppercase padd-left-right-35" id="addGrade" onclick="location.href='@Url.Action("Create", "Grades")'">
                                    </div>
                                    <!-- /.box-body -->
                                </form>
                            </div>
                        </div>
                        <!--<img src="img/div-place-right.png" class="" alt="backend" style="height: auto; width: 76%;">-->
                    </div>
                </div>

            </section>

        </div>
    </div>
    <!-- /.content -->
</div>
