﻿@model EdukiteService.Business.Entities.SubTopicModel

@{
    ViewBag.Title = "Create";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <!-- Main content -->
            <section class="content backend-middle-main-container">

                <div class="backend-middle-main-container-inner">
                    <div class="col-lg-8 col-sm-6 col-md-6 col-xs-12">
                        @Html.Partial("~/Views/SubTopics/_GetSubTopics.cshtml", (EdukiteService.Business.Entities.CommonSubTopicAssetModel)ViewBag.SubTopicAssetData)
                    </div>
                    <div class="col-lg-4 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-container form-group-width">
                            <div class="box box-primary">
                                <div class="box-header">
                                    <!--<a href="#" class="delete-btn">&nbsp;</a>-->
                                    <h3 class="box-title">Add SubTopic</h3>
                                </div>
                                <!-- /.box-header -->
                                <!-- form start -->
                                <form role="form" method="post">
                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="box-body">

                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Name*</label>
                                                <div>
                                                    @Html.EditorFor(model => model.SubtopicName, new { htmlAttributes = new { @class = "form-control height-75" } })
                                                    @Html.ValidationMessageFor(model => model.SubtopicName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Text Icon*</label>
                                                <div>
                                                    @Html.EditorFor(model => model.TextIcon, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.TextIcon, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="exampleInputPassword1">Description</label>
                                                <div>
                                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control height-75" } })
                                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group" style="display:none">
                                                @Html.LabelFor(model => model.TopicId, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div>
                                                    @Html.EditorFor(model => model.TopicId, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.TopicId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                        </div>
                                    <!-- /.box-body -->

                                        <div class="box-footer">
                                            <div class="box-footer-inner col-lg-9 col-sm-10 col-md-8 col-xs-12">
                                                <button type="submit" class="btn btn-grey pull-left">Create</button>
                                                <button type="button" onclick="location.href='@Url.Action("GetSubTopics", "SubTopics", new { @id = TempData["TopicId"] })'" class="btn btn-grey pull-right">Cancel</button>
                                            </div>
                                        </div>
                                    }
                                </form>
                            </div>
                        </div>
                        <!--<img src="img/div-place-right.png" class="" alt="backend" style="height: auto; width: 76%;">-->
                    </div>
                </div>

            </section>

        </div>
    </div>

</div>
<!-- /.content-wrapper -->



@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jquery-ui")
@Scripts.Render("~/bundles/bootstrap")
<script>

      $(".list-group-sortable").sortable({

                update: function (event, ui) {
                    var orderSb = 1;
                    var orderA = 1;
                    var modelSB = [];
                    debugger;
                    var modelA = [];
                    $("ul#sbSortable>li").each(function () {
                        $('ul#sbSortable').sortable('disable');
                        var hdn = $('#hdnSB', '.list-group-sortable li').eq(orderSb - 1);
                        var objModel = { SubtopicId: hdn.val(), SubtopicNo: orderSb };
                        modelSB.push(objModel);
                        orderSb++;
                    });

                    $("ul#assetSortable>li").each(function () {
                        $('ul#assetSortable').sortable('disable');
                        var hdn = $('#hdnAsset', '.list-group-sortable li').eq(orderA - 1);
                        var objModel = { AssetId: hdn.val(), AssetNo: orderA };
                        modelA.push(objModel);
                        orderA++;
                    });

                    if (modelSB.length > 1) {
                        $.ajax({
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            url: '@Url.Action("UpdateSubTopicsOrderAsync", "SubTopics")',
                            data: JSON.stringify({ lstSubTopicModel: modelSB }),
                            success: function (data) {
                               // location.reload();
                            },
                            error: function (jqXHR, exception) {
                                var msg = '';
                                if (jqXHR.status === 0) {
                                    msg = 'Not connect.\n Verify Network.';
                                } else if (jqXHR.status == 404) {
                                    msg = 'Requested page not found. [404]';
                                } else if (jqXHR.status == 500) {
                                    msg = 'Internal Server Error [500].';
                                } else if (exception === 'parsererror') {
                                    msg = 'Requested JSON parse failed.';
                                } else if (exception === 'timeout') {
                                    msg = 'Time out error.';
                                } else if (exception === 'abort') {
                                    msg = 'Ajax request aborted.';
                                } else {
                                    msg = 'Uncaught Error.\n' + jqXHR.responseText;
                                }
                                alert(msg);

                            }
                        });
                    }

                    if (modelA.length > 1) {
                        $.ajax({
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            url: '@Url.Action("UpdateAssetOrderAsync", "SubTopics")',
                            data: JSON.stringify({ lstAssetModel: modelA }),
                            success: function (data) {
                                location.reload();
                            },
                            error: function (jqXHR, exception) {
                                var msg = '';
                                if (jqXHR.status === 0) {
                                    msg = 'Not connect.\n Verify Network.';
                                } else if (jqXHR.status == 404) {
                                    msg = 'Requested page not found. [404]';
                                } else if (jqXHR.status == 500) {
                                    msg = 'Internal Server Error [500].';
                                } else if (exception === 'parsererror') {
                                    msg = 'Requested JSON parse failed.';
                                } else if (exception === 'timeout') {
                                    msg = 'Time out error.';
                                } else if (exception === 'abort') {
                                    msg = 'Ajax request aborted.';
                                } else {
                                    msg = 'Uncaught Error.\n' + jqXHR.responseText;
                                }
                                alert(msg);

                            }
                        });
                    }
                }

            });
    </script>

}
@Styles.Render("~/Content/css") 
