﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <style>
        .color-palette {
            height: 35px;
            line-height: 35px;
            text-align: center;
        }

        .color-palette-set {
            margin-bottom: 15px;
        }

        .color-palette span {
            display: none;
            font-size: 12px;
        }

        .color-palette:hover span {
            display: block;
        }

        .color-palette-box h4 {
            position: absolute;
            top: 100%;
            left: 25px;
            margin-top: -40px;
            color: rgba(255, 255, 255, 0.8);
            font-size: 12px;
            display: block;
            z-index: 7;
        }
    </style>
</head>

<body class="hold-transition skin-blue sidebar-mini eduk-main-body-container backend-main-body-container">
    <div class="wrapper">

        <header class="main-header dark-header backend-header-left">
            <div class="container header-conainer">
                <div class="row">

                    @if ((ViewData.ContainsKey("vdWithoutSubGradeName") && ViewData.ContainsKey("vdWithoutSubSubjectName") && ViewData.ContainsKey("vdWithoutSubTopicName")) || (ViewData.ContainsKey("vdWithSubTopicGradeName") && ViewData.ContainsKey("vdWithSubTopicSubjectName") && ViewData.ContainsKey("vdWithSubTopicTopicName") && ViewData.ContainsKey("vdWithSubTopSubTopicName")))
                    {
                        @:<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 no-padding-right">
                            }
                    else
                    {
                        @:<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                }

                    <div class="backend-header-left-text">
                        <!-- Logo -->
                        <a href="/Grades/GetGrades" class="logo col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <img src="/Content/img/edukite-logo-text-bottom.png" class="" alt="edukite">

                        </a>

                        <div class="backend-header-left-text-right">
                            <div class="user">User: Excelsoft</div>
                            <span class="sing-out"><a href="">Sign out</a></span>
                        </div>
                    </div>
                </div>

                @if (ViewData.ContainsKey("vdOnlyGradeRoot"))
                {
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 header-middle-text">
                        <div class="header-middle-text-inner">
                            Grades
                        </div>
                    </div>
                }

                @if (ViewData.ContainsKey("vdOnlyGradeName"))
                {
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 header-middle-text">
                        <div class="header-middle-text-inner">
                            @ViewData["vdOnlyGradeName"]
                        </div>
                    </div>
                }
                @if (ViewData.ContainsKey("vdTopicGradeName") && ViewData.ContainsKey("vdTopicSubjectName"))
                {
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 header-middle-text">
                        <div class="header-middle-text-inner">
                            @ViewData["vdTopicGradeName"] <br>
                            <span> @ViewData["vdTopicSubjectName"] </span>
                        </div>
                    </div>
                }
                @if (ViewData.ContainsKey("vdWithoutSubGradeName") && ViewData.ContainsKey("vdWithoutSubSubjectName") && ViewData.ContainsKey("vdWithoutSubTopicName"))
                {
                    <div class="col-lg-6 col-md-6 col-sm-10 col-xs-10 header-middle-text">
                        <div class="header-middle-text-inner topic-header-container header-sub-topic-title-container">
                            @ViewData["vdWithoutSubGradeName"] <br>
                            <span class="sub-title">@ViewData["vdWithoutSubSubjectName"]</span>
                            <span class="topic-title">Topic: @ViewData["vdWithoutSubTopicName"]</span>
                        </div>
                    </div>

                }
                @if (ViewData.ContainsKey("vdWithSubTopicGradeName") && ViewData.ContainsKey("vdWithSubTopicSubjectName") && ViewData.ContainsKey("vdWithSubTopicTopicName") && ViewData.ContainsKey("vdWithSubTopSubTopicName"))
                {
                    <div class="col-lg-6 col-md-6 col-sm-10 col-xs-10 header-middle-text">
                        <div class="header-middle-text-inner topic-header-container sub-topic-header-container">
                            @ViewData["vdWithSubTopicGradeName"] <br>
                            <span class="sub-title">@ViewData["vdWithSubTopicSubjectName"]</span>
                            <span class="topic-title">Topic: @ViewData["vdWithSubTopicTopicName"]</span>
                            <span class="sub-topic-title">Subtopic: @ViewData["vdWithSubTopSubTopicName"]</span>
                        </div>
                    </div>
                }




                @if ((ViewData.ContainsKey("vdWithoutSubGradeName") && ViewData.ContainsKey("vdWithoutSubSubjectName") && ViewData.ContainsKey("vdWithoutSubTopicName")) || (ViewData.ContainsKey("vdWithSubTopicGradeName") && ViewData.ContainsKey("vdWithSubTopicSubjectName") && ViewData.ContainsKey("vdWithSubTopicTopicName") && ViewData.ContainsKey("vdWithSubTopSubTopicName")))
                {
                    @:<div class="col-lg-3 col-md-2 col-sm-2 col-xs-2 profile-container">
                                    }
                else
                {
                    @:<div class="col-lg-4 col-md-4 col-sm-2 col-xs-12 profile-container">
                                        }




                <nav class="navbar navbar-static-top">

                    <div class="navbar-custom-menu">

                        <div class="profile-left">
                            <!-- use this class to hide in mobile and tab - hidden-xs -->

                            <a href="/Grades/GetGrades" class="home-btn"> Home </a>

                        </div>

                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    @RenderBody()

    <!-- /.content -->
</div>
<!-- /.content-wrapper -->


</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jquery-ui")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/validate")
@RenderSection("scripts", required: false)

</body>





</html>
