/*
 *   Author: Blue leaf intech
 */
 

.skin-blue.eduk-main-body-container .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #e6e6e6;
	font-size: 0.8em;
}
 
.skin-blue.eduk-main-body-container .content-wrapper {
    min-height: 100%;
    background-color: #e6e6e6;
    z-index: 800;
} 

.eduk-main-body-container a {
    color: #000;
}

/*header css */
 
.eduk-main-body-container .main-header {
    padding: 2rem 0;
	max-height: none;
    background: #4d4d4d;
	display: inline-block;
    width: 100%;
} 
 
.eduk-main-body-container .content-wrapper, .main-footer {
	margin-left: 0;
 }
 
.eduk-main-body-container.skin-blue .main-header .navbar {
	 background-color: #4d4d4d;
 }
 
 
.eduk-main-body-container.skin-blue .main-header .logo {
    background-color: #4d4d4d;
    color: #fff;
}

.eduk-main-body-container.skin-blue .main-header .logo img {
	width: 100%;
}

.eduk-main-body-container .main-header .logo {
	height: auto;
	width: auto;
}

.eduk-main-body-container .main-header .navbar {
    /*margin-left: 410px;*/
	    width: 100%;
    /*display: contents;*/
	display: inline;
	margin: 0;
}

.header-middle-text {
	text-align:center;
	margin: 0 auto;
}

.header-middle-text .direct-chat-text  {
	width: 450px;
	background: none;
	border: none;
	margin: 0;
	display: inline-block;
}

.header-middle-text .direct-chat-text > div {
    border-radius: 18px;
    position: relative;
    padding: 5px 10px;
    background: #fff;
    border: 1px solid #d2d6de;
    margin: 5px 0 0 50px;
    color: #000;
	margin: 0;
    font-size: 2.5em;
	padding:0px 25px;
	text-align: center;
}

.header-middle-text div > span {
    color: #fbb03b;
    font-size: 2em;
	text-align: center;
}



.header-middle-text .direct-chat-text:before,
.header-middle-text .direct-chat-text:after  {
	content: none;
}	

@media (max-width: 1024px) {
.col-lg-8.header-middle-text {
	padding: 0;
    float: left;
	margin-top: 15px;
    width: 78%;
}

.header-middle-text .direct-chat-text {
    width: 100%;
}

 .header-middle-text .direct-chat-text > div {
    width: 100%;
    padding: 0;
}

}

.profile-left {
	display: inline-block;
    float: right;
    width: 162px;
}
.eduk-main-body-container .profile-left a {
    color: #2ca9e2;
}

.profile-left h4 {
	color: #fff;
	margin: 0;
	font-size: 2.5em;
    width: 100%;
    display: inline-block;
}

.profile-left span {
    font-size: 1.6em;
    color: #fff;
    width: 100%;
    display: inline-block;
}

.profile-left a {
    font-size: 1.6em;
    width: 100%;
    display: inline-block;
}



@media (min-width: 768px) {
	.hidden-lagre {
		display: none!important;
	}
}

@media (max-width: 767px) {
	.hidden-xs {
		display: none!important;
	}
}

@media (max-width: 991px) {
	
.navbar .navbar-custom-menu>.navbar-nav {
    position: relative;
}	
	
.navbar div.navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
    position: absolute;
    right: 0;
    left: auto;
    border: 1px solid #ddd;
    background: #fe9837;
	top: 60px;
}
.profile-left h4 {
    font-size: 2em;
}

.profile-left span {
    font-size: 1.2em;
}

.profile-left a {
    font-size: 1.4em;
}

}

.dropdown-menu .profile-left {
	display: inline-block;
    float: right;
    width: 100%;
	padding: 20px;
}

/*header css end */


/*footer css*/
.eduk-main-body-container .main-footer {
    background: #e6e6e6;
    padding: 15px;
    color: #444;
    border-top: none;
}
/*footer css*/


/*main content tabs*/

.eduk-main-body-container .content > .row > .col-md-12 {
    padding: 0;
}

.eduk-main-body-container .nav-tabs-custom>.nav-tabs {
    padding-left: 200px;
}

.eduk-main-body-container .nav-tabs-custom {
    background: #fbb03b;
	padding-top: 15px;
	box-shadow: none;
}

.eduk-main-body-container section.content {
    padding-top: 0;
    margin-top: -5px;
}

.eduk-main-body-container .nav-tabs-custom>.nav-tabs>li.active {
    border-top: none;
}

.eduk-main-body-container .nav-tabs-custom>.nav-tabs>li {
    margin-bottom: 0px;
	font-size: 1.5em;
}

.eduk-main-body-container .nav-tabs-custom>.tab-content {
   background: #e6e6e6;
   /*padding: 20px 100px;*/
   padding: 0;
   font-size: 1.5em;
}

.eduk-main-body-container .nav-tabs-custom>.nav-tabs>li>a {
	border-radius: 5px 5px 0 0;
	padding: 2px 15px;
	color: #000;
}

@media (min-width: 1210px) {
.eduk-main-body-container .nav-tabs-custom>.nav-tabs>li>a {
	font-size: 1.2em;
}
}

.eduk-main-body-container .nav-tabs-custom>.nav-tabs>li {
    border-top: 0;
	display: inline-flex;
}

.eduk-main-body-container .nav-tabs-custom>.nav-tabs>li.dropdown {
	margin-left: 44px;
}


.skin-blue.eduk-main-body-container .nav-tabs-custom>.nav-tabs>li.active>a {
	background-color: #e6e6e6;
	font-weight: 600;
}

.eduk-main-body-container .nav-tabs-custom>.nav-tabs>li:nth-child(1)>a {
  background-color: #cccccc;
}

.eduk-main-body-container .nav-tabs-custom>.nav-tabs>li:nth-child(2)>a {
  background-color: #b3b3b3;
}

.eduk-main-body-container .nav-tabs-custom>.nav-tabs>li:nth-child(3)>a {
  background-color: #999999;
}

.eduk-main-body-container .nav-tabs-custom>.nav-tabs>li:nth-child(4)>a {
  background-color: #868585;
}

.dropdown-left-text {
    padding: 0;
    line-height: 30px;
}


@media (max-width: 411px) and (min-width: 340px) {
	.content-top-container> .col-lg-2 {
		-ms-flex: 0 0 97% !important;
		flex: 0 0 97% !important;
		max-width: 97% !important;
			padding-left: 50px;
	}

	.content-top-container> .col-lg-6 {
		-ms-flex: 0 0 700px !important;
		flex: 0 0 700px !important;
		max-width: 700px !important;
	}

	.content-top-container> .col-lg-4 {
		-ms-flex: 0 0 400px !important;
		flex: 0 0 400px !important;
		max-width: 400px !important;
	}

	.eduk-main-body-container .col-lg-4 .radio {
		display: inline;
		/* margin-right: 30px; */
		width: 12%;
	}

	.eduk-main-body-container .col-lg-2 .radio {
		display: inline-block;
		/* margin-right: 0; */
		width: 38%;
	}
}

.province-main-container-middle .activity-radio .col-lg-2 {
    width: 150px;
}


@media (min-width: 640px) {
	.content-top-container> .col-lg-2 {
		-ms-flex: 0 0 400px !important;
		flex: 0 0 400px !important;
		max-width: 400px !important;
			padding-left: 50px;
	}

	.content-top-container> .col-lg-6 {
		-ms-flex: 0 0 700px !important;
		flex: 0 0 700px !important;
		max-width: 700px !important;
	}

	.content-top-container> .col-lg-4 {
		/*-ms-flex: 0 0 400px !important;
		flex: 0 0 400px !important;
		max-width: 400px !important;*/
	}

	.eduk-main-body-container .col-lg-4 .radio {
		display: inline;
		/* margin-right: 30px; */
		width: 12%;
	}

	.eduk-main-body-container .col-lg-2 .radio {
		display: inline-block;
		margin-right: 23px;
		width: 38%;
	}

}

@media (max-width: 1370px) {
	
	.content-top-container> .col-lg-4 {
		-ms-flex: 0 0 400px !important;
		flex: 0 0 400px !important;
		max-width: 400px !important;
	}
}

@media (max-width: 1024px) {
body .eduk-main-body-container #datepicker-start, body .eduk-main-body-container #datepicker-end {
	width: 150px;
}
}

@media (max-width: 731px) {
.eduk-main-body-container .nav-tabs-custom>.nav-tabs>li {
        font-size: 1.2em;
}
}

@media only screen and (min-width: 784px) and (max-width: 1024px) {
body .eduk-main-body-container .nav-tabs-custom>.nav-tabs>li {
        font-size: 1.4em;
}
}


@media (max-width: 1366px) {
/*.eduk-main-body-container .nav-tabs-custom>.nav-tabs {
    display: flex;
	padding-left: 0px;
	overflow-x: scroll;
}*/

.eduk-main-body-container .nav-tabs-custom>.nav-tabs>li {
    /*-ms-flex: 0 0 97% !important;*/
	-ms-flex: 100% !important;
    /*flex: 0 0 60% !important;*/
	flex: 100% !important;
    /*max-width: 97% !important;*/
	max-width: 100% !important;
}
 
}


@media (max-width: 1209px) {
.eduk-main-body-container .nav-tabs-custom>.nav-tabs {
    display: flex;
	padding-left: 0px;
    /*overflow: scroll;*/
	/*overflow-x: scroll;*/
}
.eduk-main-body-container .nav-tabs-custom>.nav-tabs>li {
	display: block;
}
}

@media only screen and (min-width: 1210px) and (max-width: 1220px) {
.eduk-main-body-container .nav-tabs-custom>.nav-tabs {
	padding-left: 108px;
}

.eduk-main-body-container .nav-tabs-custom>.nav-tabs>li.dropdown {
    margin-left: 0;
}
}


@media (min-width: 1210px)
.eduk-main-body-container .nav-tabs-custom>.nav-tabs {
    padding-left: 108px;
}

@media (max-width: 1024px) {
	.eduk-main-body-container .nav-tabs-custom>.nav-tabs .dropdown {
		display: none;
	}
}

.content-main-top-container .content-top-container {
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
}

.content-main-top-container {
    display: inline-block;
    width: 100%;
    background: #fff;
	padding-top: 15px;
}

/*performance tab content*/

.eduk-main-body-container .input-group {
    display: inline-flex;
}

.eduk-main-body-container .radio {
    display: inline-block;
	margin-right: 30px;
}

.eduk-main-body-container #datepicker-start,
.eduk-main-body-container #datepicker-end {
	background: #000;
	font-size: 1.2em;
	color: #fff;
	text-align: center;
	width: 250px;
	border-radius: 6px;
	height: 40px;
}

@media (max-width: 1209px) {

	.eduk-main-body-container #datepicker-start,
	.eduk-main-body-container #datepicker-end {
		width: 150px;
	}
}

.eduk-main-body-container label {
	font-weight: normal;
}

.eduk-main-body-container .tab-pane .content-top-container .col-lg-6 .form-group {
	display: inline-block;
}

.eduk-main-body-container .radio {
    padding: 0 0 0 10px;
}


.eduk-main-body-container .radio input[type="radio"] {
    opacity: 0;
    z-index: 1;
}

.eduk-main-body-container .checkbox input[type=checkbox], 
.eduk-main-body-container .checkbox-inline input[type=checkbox], 
.eduk-main-body-container .radio input[type=radio],
.eduk-main-body-container .radio-inline input[type=radio] {
    position: absolute;
    margin-top: 4px\9;
        margin-left: -23px;
    top: 3px;
    width: 22px;
    height: 22px;
}

.eduk-main-body-container .radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}

.eduk-main-body-container .checkbox label,
.eduk-main-body-container .radio label {
    min-height: 20px;
    padding-left: 2px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}

.eduk-main-body-container .radio-info input[type="radio"]:checked + label::before {
    border-color: #000;
}

.eduk-main-body-container .radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 22px;
    height: 22px;
	top: 5px;
    left: -4px;
    margin-left: -23px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
	
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.eduk-main-body-container .radio-info input[type="radio"]:checked + label::after {
    background-color: #000;
}
.eduk-main-body-container .radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}
.eduk-main-body-container .radio-info input[type="radio"] + label::after {
    background-color: #000;
}
.eduk-main-body-container .radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 14px;
    height: 14px;
    left: -3px;
    top: 9px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #000;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio-label label {
    padding: 5px 10px;
    border-radius: 4px;
}


.radio-label .blue{
    background: #89d3f5;
}

.radio-label .pink{
    background: #f9b09d;
}

.radio-label .yellow{
    background: #ffd371;
}
.radio-label .green{
    background: #85c87c;
}



@media (max-width: 1366px) {
	
.eduk-main-body-container .nav-tabs-custom>.tab-content {
    /*padding: 20px 10px;*/
	padding: 0;
}


.eduk-main-body-container .content-top-container {
	width: 100%;
    overflow-x: scroll;
    display: inline-flex;
	background: #fff;
    padding-top: 12px;
}

.eduk-main-body-container .radio {
    display: block;
    margin-right: 30px;
    width: 100%;
}

}
@media only screen and (min-width: 784px) and (max-width: 1200px) {
	
	.eduk-main-body-container .radio {
    /*width: auto;*/
}

.eduk-main-body-container .content-top-container {
    overflow-x: auto;
	display: inline-flex;
}
}

/*performance tab middle content*/

.tab-middle-content-container .row {
	/*padding: 50px 200px;*/
	/*max-width: 1500px;*/
	max-width: 1600px;
    margin: 0 auto;
}



.eduk-main-body-container .tab-middle-content-container .col-md-8 {
    float: none;
    /* display: inline-block; */
    clear: both;
    left: 0;
    margin: 0 auto;
	width: 70%;
}

.eduk-main-body-container .tab-middle-content-container .col-md-6 {
    float: none;
    /* display: inline-block; */
    clear: both;
    left: 0;
    margin: 0 auto;
	/*width: 70%;*/
}

@media (max-width: 1200px) {

.eduk-main-body-container .tab-middle-content-container .col-md-8 {
	width: 100%;
}

.eduk-main-body-container .tab-middle-content-container .col-md-6 {
	width: 100%;
}

.tab-middle-content-container .row {
    padding: 0px;
}

}

@media (max-width: 1366px) {
.eduk-main-body-container .table-responsive table { 
           border-collapse: separate;
           border-spacing: 12px;
		   font-size: 1.2em;
		   counter-reset: rowNumber;
		   width: auto;
}
}


.eduk-main-body-container .table-responsive .table>thead>tr>th,
.eduk-main-body-container .table-responsive .table>tbody>tr>th,
.eduk-main-body-container .table-responsive .table>tfoot>tr>th,
.eduk-main-body-container .table-responsive .table>thead>tr>td,
.eduk-main-body-container .table-responsive .table>tbody>tr>td,
.eduk-main-body-container .table-responsive .table>tfoot>tr>td {
    border-top: none;
}


.eduk-main-body-container .table-responsive table { 
           border-collapse: separate;
           border-spacing: 12px;
		   font-size: 1.2em;
		   counter-reset: rowNumber;

}

.eduk-main-body-container .table-responsive .table>.table-main-content>tr {
    counter-increment: rowNumber;
	
}


.eduk-main-body-container .table-responsive .table>.table-main-content>tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
	position: relative;
    left: -27px;
}


.eduk-main-body-container .table-responsive .table>.table-main-content>tr td {
    background: #fff;
    border-radius: 10px;
    /*padding: 40px 25px 9px 25px;*/
	padding-top: 15px;
	/*padding-bottom: 15px;*/
	padding-bottom: 8px;
	vertical-align: middle;
    text-align: left;
	min-width: 305px;
	/*min-width: 323px;*/
}


.eduk-main-body-container .table-responsive .table.perfo-large-text >.table-main-content>tr td {
	min-width: 335px;
}

.eduk-main-body-container .usage-report-container .table-responsive .table>.table-main-content>tr td {
    background: #fff;
    border-radius: 10px;
    /*padding: 40px 25px 9px 25px;*/
	padding-top: 15px;
	padding-bottom: 15px;
	vertical-align: middle;
    text-align: left;
	min-width: 285px;
	/*min-width: 323px;*/
}

.eduk-main-body-container .table-responsive .table>.table-main-content>tr td:nth-child(2) {
	text-align: center;
}

.eduk-main-body-container .table-responsive .table>thead>tr>th {
    border-bottom: none;
	text-align: center;
	font-weight: normal;
}

.eduk-main-body-container .table-responsive .table>.table-main-content>tr.row-sep td {
    background: none;
    height: 15px;
    display: block;
    width: 100%;
	padding: 10px;
}

.eduk-main-body-container .table-responsive {
    border: none;
	padding: 20px;
}

.tab-left-text {
	border-bottom: 1px solid #3fa9f5;
}

.eduk-main-body-container .table-responsive .table>thead>tr>th.table-title-container {
	line-height: 1em;
}

.table-title {
	display: inline-block;
    /*width: 100%;*/
    line-height: 1.0;
}

.bracket-text {
    font-size: 0.8em;
	display: inline-block;
    line-height: 1.0;
}

.graph-container {
	position: relative;
	display:inline;
	width:90px;
	height:90px;
}


/*performance-12 tab*/


.knob {
	width: 49px;
    height: 30px;
    position: absolute;
    vertical-align: middle;
    margin-top: 30px;
    margin-left: -69px;
    border: 0px;
    background: none;
    font: bold 18px Arial;
    text-align: center;
    color: #000 !important;
    padding: 0px;
    -webkit-appearance: none;
}

.multi-column-container .table-responsive,
.multi-column-container .table-responsive .table-responsive-inner {
    display: inline-flex;
    width: 100%;
}

.multi-column-container .usage-report-container .table-responsive-inner {
	/*max-height: 600px;
	overflow-y: auto;*/
}

table-responsive-inner

.multi-column-container .table-responsive table.table {
    -ms-flex: 0 0 685px !important;
    flex: 0 0 685px !important;
    max-width: 685px !important;
    /*padding-left: 50px;*/
}

@media only screen and (min-width: 1270px) and (max-width: 1366px) {
	.tab-middle-content-container.multi-column-container .row {
		padding: 50px 170px;
	}
	
	.tab-middle-content-container.multi-column-container.four-column-container .row {
		padding: 50px 10px;
	}
	
	
}


	.eduk-main-body-container .tab-middle-content-container.multi-column-container > .row > .col-md-8,
	.eduk-main-body-container .tab-middle-content-container.multi-column-container > .row >  .col-md-10,
	.eduk-main-body-container .tab-middle-content-container.multi-column-container > .row >  .col-md-11	{
		float: none;
		margin: 0 auto;
	}


@media (max-width: 1366px) {
	
	.eduk-main-body-container .tab-middle-content-container.multi-column-container > .row > .col-md-8,
	.eduk-main-body-container .tab-middle-content-container.multi-column-container > .row >  .col-md-10,
	.eduk-main-body-container .tab-middle-content-container.multi-column-container > .row >  .col-md-11	{
		width: 100%;
	}

}

.multi-column-container .table-responsive .topic-container {
    -ms-flex: 0 0 285px !important;
    flex: 0 0 285px !important;
    max-width: 285px !important;
	padding-top: 80px;
	/*padding-top: 100px;*/
    padding-left: 0px;
	font-size: 1.2em;
}

@media only screen and (min-width: 320px) and (max-width: 731px) {
	
	.multi-column-container .table-responsive .topic-container {
		/*padding-top: 68px;*/
	}

}


.multi-column-container .table-responsive .topic-container ul {
    background: #c2cbcc;
	padding: 10px 10px 10px 10px;
	border-radius: 10px;
}

.multi-column-container .table-responsive .topic-container li {
    text-align: center;
    background: #dee2e2;
    padding: 10px;
	list-style: none;
	border-radius: 10px;
	margin-bottom: 12px;
}

.multi-column-container .table-responsive .topic-container li.topic-title {
	background: none;
	text-align: left;
	padding-top: 0;
    /* border-bottom: 1px solid #000; */
    padding-bottom: 5px;
    margin-bottom: 10px;
    width: 100%;
    display: inline-block;
}

.topic-title span {
	display: inline-block;
    width: 100%;
}

.topic-title span:nth-child(2) {
	float: left;
	font-size: 14px;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}

.multi-column-container .table-responsive li.expand-btn {
    background: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.multi-column-container .table-responsive li.expand-btn i {
	color: #000;
    font-size: 24px;
}

.topic-left-text {
    float: left;
    text-align: left;
    margin-top: 30px;
}

.topic-graph-container {
	text-align: right;
}





.multi-column-container .table-responsive .algebra-container ul {
    background: #f1f5fb;
	padding: 10px 10px 10px 10px;
	border-radius: 10px;
}

.multi-column-container .table-responsive .algebra-container li {
    text-align: center;
    background: none;
    padding: 0px 10px;
	list-style: none;
	/*border-radius: 10px;*/
	margin-bottom: 10px;
	border-bottom: 1px solid #000;
}


.multi-column-container .table-responsive .algebra-container ul li:nth-last-child(2) {
	border-bottom: none;
	margin-bottom: 0;
}

.multi-column-container .table-responsive .algebra-container li.topic-title {
	background: none;
	text-align: left;
	padding-top: 0;
    /* border-bottom: 1px solid #000; */
    padding-bottom: 5px;
    margin-bottom: 10px;
    width: 100%;
    display: inline-block;
}

.topic-title span {
	display: inline-block;
    width: 100%;
}

.topic-title span:nth-child(2) {
	float: left;
	font-size: 14px;
    border-bottom: none;
    padding-bottom: 5px;
	border-bottom: 1px solid #000;
}

.multi-column-container .table-responsive .algebra-container li.expand-btn {
    background: none;
    padding-bottom: 0;
    margin-bottom: 0;
	border-bottom: none;
}

.topic-left-text {
    float: left;
    text-align: left;
	font-size: 16px;
    margin-top: 30px;
	max-width: 150px;
}

.topic-graph-container {
	text-align: right;
}

.multi-column-container .table-responsive .algebra-container {
    -ms-flex: 0 0 285px !important;
    flex: 0 0 285px !important;
    max-width: 285px !important;
	/*padding-top: 100px;*/
	padding-top: 82px;
    padding-left: 0px;
	font-size: 1.2em;
	margin-left: 12px;
}


.eduk-main-body-container .table-responsive.performance-report-container-middle-text .table>.table-main-content>tr td:first-child {
    text-align: center;
}

.eduk-main-body-container .table-responsive.performance-report-container-middle-text .table>.table-main-content>tr td {
	position: relative;
}

.eduk-main-body-container .table-responsive.performance-report-container-middle-text .table>.table-main-content>tr td:first-child::before {
    position: absolute;
    left: -20px;
}

.eduk-main-body-container .performance-report-main-container .table-responsive .table >.table-main-content>tr td.performance-report-active-tab {
    background: #f1f5fb;
}

.eduk-main-body-container .table-responsive.performance-report-container-middle-text .table>.table-main-content>tr td.performance-report-active-tab {
    background: #f1f5fb;
}

.multi-column-container.performance-report-main-container .table-responsive .topic-container li.topic-active-tab {
    background: #f1f5fb;
}

/*performance-12 tab end */


/*performance tab middle content end */

/*performance tab content end*/






/*activity tab content*/



.activity-main-container {
}

.activity-main-container .activity-main-container-left.col-md-6 {
    display: inline-block;
	margin-bottom: 20px;
	padding-top: 20px;
}

.activity-main-container .activity-main-container-left .province-main-container-left {
	display: inline-block;
    width: 230px;
    float: left;
    margin-right: 20px;
}

.activity-main-container .activity-main-container-left .province-main-container-right {
	display: inline-block;
	width: 520px;
	background: none;
    border: none;
    box-shadow: none;
}

.eduk-main-body-container .activity-main-container .activity-main-container-left .province-main-container-right h3 {
	padding: 0;
	margin: 0;
	color: #666666;
}

.eduk-main-body-container .activity-main-container .activity-main-container-left .province-main-container-right .table-responsive {
    max-height: 265px;
	width: 100%;
	padding: 0;
	overflow-y: auto;
}


.eduk-main-body-container .activity-main-container .activity-main-container-left .province-main-container-right .table-responsive tr {
	background-color: #fff;
	display: inline-block;
	margin-bottom: 4px;
	border-radius: 5px;
	border-spacing: 5px;
}

.eduk-main-body-container .activity-main-container .activity-main-container-left {
	overflow-x: auto;
}

.eduk-main-body-container .activity-main-container .activity-main-container-left .province-main-container {
	display: inline-flex;
}


.eduk-main-body-container .activity-main-container .activity-main-container-left .province-main-container-left #donut-chart {
	margin-top: 100px;
	height: 300px;
}


.eduk-main-body-container .activity-main-container .activity-main-container-left .province-main-container-left #donut-chart svg {
	position: absolute;
    left: -20px;
}

.nv-slice text.middle {
	fill: rgb(102, 102, 102) !important;
	font-size: 2.1em;
}

 .nv-slice text {
    text-anchor: middle;
    fill: rgb(255, 255, 255) !important;
    position: absolute;
    font-size: 1.5em;
    font-weight: bold;
    left: 13px;
    margin-left: 16px;
	stroke: none;
}

.nv-slice rect {
	background: none;
	fill: none !important;
    stroke: none !important;
    color: #fff !important;
}

.box-info .province-main-container-right-title h2 {
	color: #fff;
	background-color: #000;
	font-size: 2em;
	padding: 10px 5px 14px 25px;
	border-radius: 7px;
	margin: 5px 0 10px 0;
}

.box-info .province-main-container-right-title i {
	content: "\f053";
	padding: 5px 1px 2px 1px;
	text-align: center;
	display: inline-block;
	float: right;
    border-radius: 5px;
    background-color: #29abe2;
}

.box-info .province-main-container-right-title h3 {
	color: #666666;
}

.province-main-container-table-title {
	display: inline-block;
	margin-bottom: 5px;
}

.province-main-container .province-main-container-right .box-footer{
	background: none;
	padding: 0;
	border: none;
    margin: 10px 0;
}

.eduk-main-body-container .activity-main-container .activity-main-container-left.col-md-6 .province-main-container-right .table>tbody>tr>td:first-child {
	min-width: 308px;
	border-bottom: 1px solid #3fa9f5;
}

.eduk-main-body-container .activity-main-container .activity-main-container-left.col-md-6 .province-main-container-right .table {
	border-spacing: 0px;
}

.eduk-main-body-container .activity-main-container .activity-main-container-left.col-md-6 .province-main-container-right .table>tbody>tr>td {
	padding: 5px;
    vertical-align: middle;
}

.eduk-main-body-container .activity-main-container .active-label,
.eduk-main-body-container .activity-main-container .low-active,
.eduk-main-body-container .activity-main-container .interactive {
	/*padding: 0px 12px;*/
	width: 20px;
	display: inline-block;
	vertical-align: middle;
	height: 20px;
	background: #000;
    margin-right: 5px;
}

.eduk-main-body-container .activity-main-container .active-label {
	background: #6100c0;
}

.eduk-main-body-container .activity-main-container .low-active {
	background: #ff7c1b;
}

.eduk-main-body-container .activity-main-container .interactive {
	background: #d50016;
}
/*
province-main-container

province-main-container-left


province-main-container-right


calendar-main-content

calendar-main-content-left

calendar-main-content-right
*/

.activity-main-container .activity-main-container-right.col-md-6 {
    display: inline-block;
	float: right;
	background: #f2f2f2;
	padding-top: 20px;
}


.eduk-main-body-container .activity-main-container .activity-main-container-left.col-md-6 .calendar-main-content {
	display: inline-flex;
	background: #f2f2f2;
    padding: 15px;
	border-radius: 7px;
}


.eduk-main-body-container .activity-main-container .activity-main-container-left.col-md-6 .calendar-main-content-left {
	width: 340px;
	display: inline-block;
	margin-right: 10px;
	margin-top: 20px;
	padding-left: 20px;
}

 .activity-main-container-left.col-md-6 .calendar-main-content .calendar-main-content-left .form-group label {
	font-size: 1.5em;
	color: #666666;
 }
 
 .activity-main-container-left.col-md-6 .calendar-main-content .calendar-main-content-left .form-group span {
	font-size: 1em;
	color: #666666;
	display: inline-block;
 }

.eduk-main-body-container .activity-main-container .activity-main-container-left.col-md-6 .calendar-main-content-right {
	width: 380px;
}

.activity-main-container .activity-main-container-right .activity-main-container-right-top .table-responsive {
    padding: 0px;
	border: unset;
}

.activity-main-container .activity-main-container-right .activity-main-container-right-top .box-header {
    padding: 10px 0 0 14px;
    margin: 0 0 -35px 0;
    /*position: absolute;*/
}

.activity-main-container .activity-main-container-right .activity-main-container-right-top .pagination>li {
    font-size: 0.7em;
}


.activity-main-container .activity-main-container-right .activity-main-container-right-top .table-responsive table {
    border-collapse: unset;
    border-spacing: 0;
    font-size: inherit;
    counter-reset: inherit;
	/*padding-left: 10px;*/
	border: none;
	margin-top: 0 !important;
	/*padding-top: 5px;*/
	padding-top: 0;
}


.activity-main-container .activity-main-container-right .activity-main-container-right-top>.box {
    position: relative;
    border-radius: 0;
    background: #f2f2f2;
    border-top: none;
    margin-bottom: 0px;
    width: 100%;
    box-shadow: none;
	border-bottom: 1px solid;
}

.activity-main-container .activity-main-container-right .activity-main-container-right-top>.box:last-child {
	border-bottom: none;
}


.eduk-main-body-container #datepicker-prov-start, .eduk-main-body-container #datepicker-prov-end {
    background: #000;
    font-size: 1.8em;
    color: #fff;
    text-align: center;
    width: 300px;
    border-radius: 6px;
    height: 48px;
}

.activity-main-container .activity-main-container-right .activity-main-container-right-top div.dataTables_wrapper div.dataTables_info {
    font-size: 0.8em;
    margin-left: 12px;
}

.activity-main-container .activity-main-container-right .activity-main-container-right-top div.dataTables_wrapper div.dataTables_paginate {
    margin-right: 12px;
}

.activity-main-container .activity-main-container-right .activity-main-container-right-top .table-responsive .table-bordered>tbody>tr>td {
	border: 1px solid #dddddd;
	border-bottom-width: 0;
	border-right-width: 0;
	font-size: 0.8em;
	padding: 0 5px;
    vertical-align: middle;
    text-align: center;
}

.activity-main-container .activity-main-container-right .activity-main-container-right-top .table-responsive .table-bordered>tbody>tr>td:first-child {
	border-left-width: 0;
	font-size: 1em;
    text-align: left;
}

.activity-main-container .activity-main-container-right .activity-main-container-right-top .table-responsive table.dataTable thead .sorting:after,
.activity-main-container .activity-main-container-right .activity-main-container-right-top .table-responsive table.dataTable thead .sorting_asc:after,
.activity-main-container .activity-main-container-right .activity-main-container-right-top .table-responsive table.dataTable thead .sorting_desc:after {
	content: none !important;
}

.activity-main-container .activity-main-container-right .activity-main-container-right-top .table-responsive th i {
	position: absolute;
    bottom: 8px;
    right: 8px;
    display: block;
	opacity: 1;
}


.eduk-main-body-container .activity-main-container .activity-main-container-right .activity-main-container-right-top .table-responsive .table>thead>tr>th {
    border-bottom: none;
    text-align: center;
    padding: 0px 20px 1px 5px;
    font-weight: normal;
	border: none;
	line-height: 20px;
}

.calendar-main-content-right .box.box-solid {
	/*border-radius: 10px;
	padding-top: 10px;
    background: #efdeed;*/
	-webkit-box-shadow: 10px 10px 41px -13px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 41px -13px rgba(0,0,0,0.75);
box-shadow: 10px 10px 41px -13px rgba(0,0,0,0.75);
}

.calendar-main-content-right .datepicker tbody {
	background: #fff;
}

.calendar-main-content-right .datepicker td, 
.calendar-main-content-right .datepicker th {
	border-radius: 0;
}

.calendar-main-content-right .datepicker {
	padding: 0;
}


.calendar-main-content-right .datepicker thead tr:nth-child(2) {
	background: #efdeed;
	border-radius: 0;
}

.calendar-main-content-right .datepicker thead tr:nth-child(3) {
	background: #ffefe2;
	border-radius: 0;
}

.calendar-main-content-right .datepicker thead tr:nth-child(2) th {
	border-radius: 0;
}


.calendar-main-content-right .datepicker-switch {
	font-size: 1.6em;
    font-weight: normal;
}

.calendar-main-content-right .datepicker th.prev,
.calendar-main-content-right .datepicker th.next {
	border-radius: 0;
}

.calendar-main-content-right .datepicker table tr td.active.active,
.calendar-main-content-right .datepicker table tr td.active:active,
.calendar-main-content-right .datepicker table tr td.active:hover.active,
.calendar-main-content-right .datepicker table tr td.active:hover:active {
	background-color: #a5dff9;
	color: inherit;
}


.calendar-main-content-right.radio-container {
	/*padding: 20px 20px 20px 50px;*/
	padding: 0 20px 10px 50px;
}

.calendar-main-content-right.radio-container .radio label {
	width: 100%;
    padding: 10px 20px;
    text-align: center;
	font-size: 1.5em;
}

.calendar-main-content-right.radio-container .radio {
    width: 100%;
    margin: 5px 0;
    padding: 0;
}

.eduk-main-body-container .activity-main-container .activity-main-container-left h3 {
    padding: 0;
    margin: 0;
    color: #666666;
}





.calendar-main-content-right.datepicker tbody {
	background: #fff;
}

.calendar-main-content-right.datepicker td, 
.calendar-main-content-right.datepicker th {
	border-radius: 0;
}

.calendar-main-content-right.datepicker {
	padding: 0;
}

.datepicker.calendar-main-content-right .table-condensed {
	width: 100%;
}

.calendar-main-content-right .table-condensed {
	width: 100%;
}

.calendar-main-content-right.datepicker thead tr:nth-child(2) {
	background: #efdeed;
	border-radius: 0;
}

.calendar-main-content-right.datepicker thead tr:nth-child(3) {
	background: #ffefe2;
	border-radius: 0;
}

.calendar-main-content-right.datepicker thead tr:nth-child(2) th {
	border-radius: 0;
}


.calendar-main-content-right.datepicker-switch {
	font-size: 1.6em;
    font-weight: normal;
}

.calendar-main-content-right.datepicker th.prev,
.calendar-main-content-right.datepicker th.next {
	border-radius: 0;
}

.calendar-main-content-right.datepicker table tr td.active.active,
.calendar-main-content-right.datepicker table tr td.active:active,
.calendar-main-content-right.datepicker table tr td.active:hover.active,
.calendar-main-content-right.datepicker table tr td.active:hover:active {
	background-color: #a5dff9;
	color: inherit;
}






.eduk-main-body-container .calendar-main-content-right {
    width: 340px;
}


.calendar-main-content-right .datepicker-dropdown:before,
.calendar-main-content-right .datepicker-dropdown:after {
	content: none;
}

.calendar-main-content-right .dropdown-menu {
    /*min-width: 340px;*/
	min-width: 100%;
	top: 27px !important;
    left: 0 !important;
}

.eduk-main-body-container .calendar-main-content-right.radio-container .radio label::before {
	top: 13px;
}

.eduk-main-body-container .calendar-main-content-right.radio-container .radio label::after {
    top: 17px;
}

.eduk-main-body-container .activity-main-container .activity-main-container-left .province-main-container-left #donut-chart-1 {
    margin-top: 100px;
    height: 300px;
}

.eduk-main-body-container .activity-main-container .activity-main-container-left .province-main-container-left #donut-chart-1 svg {
    position: absolute;
    left: -20px;
}
/*activity tab content end*/


/*usage repost page*/


.multi-column-container .porgress-container {
    font-size: 0.8em;
	/*padding: 15px 0;*/
	padding: 15px 0 0 0;
    display: inline-block;
}

.multi-column-container .porgress-container .porgress-container-top,
.multi-column-container .porgress-container .porgress-container-bottom {
	display: inline-block;
	width: 100%;
	float: left;
	margin-bottom: 10px;
}

.multi-column-container .table-responsive.usage-report-container {
    display: inherit;
    width: 100%;
}

.multi-column-container .porgress-container .progress-left {
    float: left;
    width: 130px;
}


.multi-column-container.usage-report-container .porgress-container .progress-left {
    float: left;
    width: 46%;
}


    


.multi-column-container .porgress-container .progress-right {
    float: right;
    width: 25px;
}

.multi-column-container .table-responsive .porgress-container .progress {
    width: 44%;
    float: left;
	height: 15px;
}

.porgress-container .progress-bar-yellow {
    background-color: #fbb03b;
}

.porgress-container .progress-bar-green {
    background-color: #009245;
}

.porgress-container .progress-bar-aqua {
    background-color: #29abe2;
}

.porgress-container .progress-bar-red {
    background-color: #f15a24;
}

.porgress-container .progress-bar-blue {
    background-color: #5c6bc0;
}


@media only screen and (max-width: 1366px) and (min-width: 1270px) {
.tab-middle-content-container.multi-column-usage-container .row {
    padding: 0;
}
}

.multi-column-container .usage-report-container .table-responsive table.table {
  /*  -ms-flex: inherit !important;
    flex: inherit !important;
    max-width: inherit !important;*/
    /*padding-left: 50px;*/
	display: inline-block;
	min-width: 912px;
	width: auto;
	padding-left: 10px;
}

.multi-column-container .usage-report-container .table-responsive .algebra-container {
	padding-top: 0px;
}

.multi-column-container .usage-report-container .table-responsive .algebra-container-left {
	margin-left: 47px;
}

.multi-column-container.multi-column-usage-container  .usage-report-container .table-responsive .algebra-container-left {
	margin-left: 0;
    display: inline-block;
    width: 285px;
    /*top: -32px;*/
	top: 0;
    position: relative;
}


.multi-column-container.multi-column-usage-container .usage-report-container .table-responsive .algebra-container-right {
    margin-left: 11px;
    display: inline-block;
    width: 285px;
    /*top: -163px;*/
	top: 0;
    position: relative;
    height: 595px;
}
    

.multi-column-container .usage-report-container .table-responsive .algebra-container h3{
	text-align: center;
	font-size: 1em;
	margin-bottom: 17px;
}

.multi-column-container .usage-report-container .table-responsive .algebra-container li {
	padding: 0;
}

.multi-column-container .usage-report-container .porgress-container {
	width: 100%;
}

.province-main-container .province-main-container-right .box-footer .active-sign {
	border-collapse: separate;
    border-spacing: 8px 0px;
}

.multi-column-container .usage-report-container .algebra-container-left .porgress-container .progress-left {
    float: left;
    width: 35%;
	margin-top: 10px;
	/*font-size: 1.3em;*/
	font-size: 1.2em;
	text-align: left;
}

.multi-column-container .usage-report-container .algebra-container-left .porgress-container .progress-inner-left {
	float: left;
	width: 80%;
	margin-bottom: 0;
}

.multi-column-container .usage-report-container .algebra-container-left .porgress-container {
    width: 100%;
	border-bottom: 1px solid #949494;
	padding-top: 9px;
}

.multi-column-container .usage-report-container .algebra-container-left .porgress-container  .progress-inner-right .progress-right {
	float: right;
}

.multi-column-container .usage-report-container .algebra-container-left .porgress-container .progress-right .progress-inner-right {
	float: right;
	position: relative;
    top: -5px;
}

.multi-column-container .usage-report-container .algebra-container-left .porgress-container  .progress-right {
    float: right;
    width: 64%;
}

.multi-column-container .usage-report-container .table-responsive .algebra-container.algebra-container-left li {
    padding-right: 35px;
    position: relative;
}

.multi-column-container .usage-report-container .table-responsive .algebra-container.algebra-container-left li span {
    position: absolute;
    top: 27px;
    right: -7px;
}

.multi-column-container .usage-report-container .table-responsive .algebra-container.algebra-container-left li span a {
    color: #f15a24;
	font-size: 24px;
}

.multi-column-container .table-responsive .algebra-container.algebra-container-left li {
	border: none;
}


.multi-column-container .usage-report-container .algebra-container-right .porgress-container .progress-left {
    float: left;
    width: 33%;
	margin-top: 10px;
	/*font-size: 1.3em;*/
	font-size: 1.2em;
}

.multi-column-container .usage-report-container .algebra-container-right .porgress-container .progress-inner-left {
	float: left;
	width: 83%;
	margin-bottom: 0;
}

.multi-column-container .usage-report-container .algebra-container-right .porgress-container {
    width: 100%;
	border-bottom: 1px solid #949494;
	padding-top: 9px;
}

.multi-column-container .usage-report-container .algebra-container-right .porgress-container  .progress-inner-right .progress-right {
	float: right;
}

.multi-column-container .usage-report-container .algebra-container-right .porgress-container .progress-right .progress-inner-right {
	float: right;
	position: relative;
    top: -5px;
}

.multi-column-container .usage-report-container .algebra-container-right .porgress-container .progress-right {
    float: right;
    width: 66%;
}

.multi-column-container .usage-report-container .table-responsive .algebra-container.algebra-container-right li {
    /*padding-right: 35px;*/
    position: relative;
}

.multi-column-container .usage-report-container .table-responsive .algebra-container.algebra-container-right li span {
    position: absolute;
    top: 27px;
    right: -7px;
}

.multi-column-container .usage-report-container .table-responsive .algebra-container.algebra-container-right li span a {
    color: #f15a24;
	font-size: 24px;
}

.multi-column-container .table-responsive .algebra-container.algebra-container-right li {
	border: none;
}

.multi-column-container .usage-report-container .table-responsive .algebra-container.algebra-container-right li:last-child .porgress-container {
	border-bottom: none;
}
/*
.multi-column-container .table-responsive .algebra-container.algebra-container-left ul {
    padding: 10px 35px 10px 10px;
}*/



.multi-column-container .table-responsive .algebra-container-left ul, 
.multi-column-container .table-responsive .algebra-container-right ul {
    background: #fef6f9;
}

.multi-column-container .table-responsive .algebra-container-right ul {
    height: 84%;
}

.eduk-main-body-container .table-responsive .table>.table-main-content>tr td.usage-active {
	background: #fef6f9;
}


.eduk-main-body-container .usage-report-container .table-responsive .table>.table-main-content>tr td:first-child {
    position: relative;
}

.eduk-main-body-container .usage-report-container .table-responsive.usage-report-container-middle-text .table>.table-main-content>tr td:first-child {
    text-align: center;
}


.eduk-main-body-container .usage-report-container .table-responsive .table>.table-main-content>tr td:first-child::before {
    position: absolute;
    left: -20px;
}

/*usage report page end*/


/*progress report page*/


.eduk-main-body-container .checkbox-contaner-inner {
    max-width: 650px;
    margin: 0 auto;
    clear: both;
    float: none;
}


.md-checkbox {
  position: relative;
  margin: 1em 0;
  text-align: left;
}
.md-checkbox.md-checkbox-inline {
  display: inline-block;
}
.md-checkbox label {
  cursor: pointer;
  display: inline;
  line-height: 1.25em;
  vertical-align: top;
  clear: both;
  padding-left: 1px;
}
.md-checkbox label:not(:empty) {
  padding-left: 0.75em;
}
.md-checkbox label:before, .md-checkbox label:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}
.md-checkbox label:before {
  width: 1.35em;
  height: 1.35em;
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.54);
  border-radius: 0.125em;
  cursor: pointer;
  transition: background .3s;
}
.md-checkbox input[type="checkbox"] {
  outline: 0;
  visibility: hidden;
  width: 1.25em;
  margin: 0;
  display: block;
  float: left;
  font-size: inherit;
}
.md-checkbox input[type="checkbox"]:checked + label:before {
  /*background: #337ab7;
  border: none;*/
  border: 2px solid rgba(0, 0, 0, 0.54);
}
.md-checkbox input[type="checkbox"]:checked + label:after {
  transform: translate(0.25em, 0.3365384615em) rotate(-45deg);
  width: 0.85em;
  height: 0.475em;
  border: 0.125em solid #0000008a;
  border-top-style: none;
  border-right-style: none;
}
.md-checkbox input[type="checkbox"]:disabled + label:before {
  border-color: rgba(0, 0, 0, 0.26);
}
.md-checkbox input[type="checkbox"]:disabled:checked + label:before {
  background: rgba(0, 0, 0, 0.26);
}

.checkbox-contaner-inner .checkbox-info {
	display: inline-block;
    margin-right: 10px;
}

.checkbox-contaner-inner .checkbox-info label {
    min-height: 20px;
    padding-left: 2px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
	padding: 5px 10px;
	margin-left: 8px;
    border-radius: 2px;
}

.checkbox-contaner-inner .checkbox-info .pink {
    background: #f9b09d;
}

.checkbox-contaner-inner .checkbox-info .blue {
    background: #89d3f5;
}

.checkbox-contaner-inner .checkbox-info .yellow {
    background: #ffd371;
}

.checkbox-contaner-inner .checkbox-info .green {
    background: #85c87c;
}


@media (max-width: 768px) {
.content-top-container> .col-lg-10 {
    -ms-flex: 0 0 500px !important;
    flex: 0 0 500px !important;
    max-width: 500px !important;
}
}

.table-main-content .progress-container-inner-main .progress {
	background-color: #616161;
    border-radius: 4px;
	height: 9px;
	width: 100%;
}

.table-main-content .progress-bar-red {
    background-color: #f94623;
}

.table-main-content .progress-bar-blue {
    background-color: #0071bc;
}



.eduk-main-body-container .table-responsive.progress-report-container .table.perfo-large-text >.table-main-content>tr td.progress-report-active-tab {
	background: #f1f5fb;
}

.progress-container .progress-container-inner-main {
    padding: 0px 5px 0px 25px;
    display: inline-block;
    width: 100%;
}

.progress-container .progress-container-inner .progress-container-right.red-text {
	color: #f94623;
}

.progress-container .progress-container-inner .progress-container-right.blue-text {
	color: #0071bc;
}

.progress-container .progress-container-inner .progress-container-left {
	float: left;
    width: 80%;
	padding: 0 0 10px 0;
}

.progress-container .progress-container-inner .progress-container-right {
	float: right;
    width: 20%;
	margin-top: 9px;
	font-size: 1em;
}

.progress-container .progress-container-inner .progress-container-left span {
	font-size: 0.7em;
    float: left;
}


.multi-column-container .progress-report-container .porgress-container {
    font-size: 0.8em;
    /* padding: 15px 0; */
    padding: 0;
    display: inline-block;
}


.multi-column-container .progress-report-container .porgress-container .progress-left {
    float: left;
    width: 38%;
	text-align: right;
	margin-right: 5px;
	font-size: 0.9em;
	line-height: 14px;
}

.multi-column-container .progress-report-container .porgress-container .progress {
    width: 48%;
    float: left;
    height: 15px;
}

.multi-column-container .progress-report-container .porgress-container .porgress-container-top,
.multi-column-container .progress-report-container .porgress-container .porgress-container-bottom {
    display: inline-block;
    width: 100%;
    float: left;
    margin-bottom: 0;
}

.multi-column-container .progress-report-container .porgress-container h3 {
    margin: 0 0 10px 0;
    text-align: left;
	font-size: 1.1em;
}

.progress-report-container .topic-title span:nth-child(2) {
	line-height: 12px;
}

.progress-report-container .progress-container-inner {
    display: inline-block;
    width: 100%;
	margin-bottom: 3px;
	float: left;
}

.multi-column-container .table-responsive.progress-report-container .topic-container li.topic-active-tab {
	background: #f1f5fb;
}

.multi-column-container .table-responsive.progress-report-container .topic-container li.topic-title {
    background: none;
    text-align: left;
    padding-top: 0;
    /* border-bottom: 1px solid #000; */
    padding-bottom: 5px;
    margin-bottom: 7px;
    width: 100%;
    display: inline-block;
}

.multi-column-container .table-responsive.progress-report-container .topic-container li {
    padding: 5px 10px 10px 10px;
}

.multi-column-container .table-responsive.progress-report-container .algebra-container li {
    border-bottom: none;
}

.multi-column-container .table-responsive.progress-report-container .algebra-container li.expand-btn {
    padding-top: 25px;
}

.eduk-main-body-container .table-responsive.progress-report-container .table.perfo-large-text >.table-main-content>tr td {
    padding-bottom: 15px;
	position: relative;
}

.multi-column-container .table-responsive.progress-report-container .algebra-container li {
    border-bottom: none;
	margin-bottom: 18px;
}

.eduk-main-body-container .table-responsive.progress-report-container .table>.table-main-content>tr td:first-child::before {
    position: absolute;
    left: -20px;
}

.eduk-main-body-container .table-responsive.progress-report-container-middle-text .table>.table-main-content>tr td:first-child {
    text-align: center;
}

.eduk-main-body-container .table-responsive.progress-report-container table {
	width: auto;
}

@media (min-width: 992px) {
	.progress-report-main-container .col-md-11 {
		width: 84.666667%;
	}
}


@media (min-width: 1370px) {
	.eduk-main-body-container .tab-middle-content-container.multi-column-container.progress-report-main-container > .row > .col-md-8 {
		width: 66.66666667%;
	}
}

@media only screen and (max-width: 1366px) and (min-width: 1270px) {
	.tab-middle-content-container.multi-column-container.progress-report-main-container .row {
		padding: 50px 158px;
	}
}


/*progress report page end*/



@media only screen and (max-width: 411px) and (min-width: 320px) {

.main-header .header-middle-text .direct-chat-text > div {
	    font-size: 2em;
}

.main-header .header-middle-text div > span {
    font-size: 1.7em;
}

.eduk-main-body-container .activity-main-container .activity-main-container-left .province-main-container-right h3,
.eduk-main-body-container .activity-main-container .activity-main-container-left h3,
div.activity-main-container-left.col-md-5 .calendar-main-content .calendar-main-content-left .form-group label {
    font-size: 1.2em;
}

div.calendar-main-content-right.radio-container .radio label {
    font-size: 1.2em;
}

div.activity-main-container .activity-main-container-left.col-md-5 .province-main-container-middle .province-main-container-middle-title h2 {
	font-size: 1.5em;
}

span.tab-left-text {
    font-size: 0.9em;
}

}

@media (max-width: 991px) {
div.navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
    left: 0;
}
}

/*main content tabs end*/


/*login page*/

.login-page.login-container .login-box, .register-box {
    width: 570px;
	position: relative;
	margin: 0 auto;
}

.login-page.login-container, .register-page {
    background: #4d4d4d;
	font-size: 2em;
	color: #fff;
	padding-top: 120px;
}

.login-page.login-container .login-box-body, .register-box-body {
    background: none;
	color: #fff;
}

body .login-label {
	font-weight: normal;
	width: 20%;
	margin-right: 12px;
	float: left;
	text-align: right;
	margin-top: 15px;
}

.login-page.login-container .login-box .login-logo {
    margin-left: 60px;
	padding-top: 8%;
}

.login-page.login-container .has-feedback {
	display: inline-block;
	margin-bottom: 10px;
	width: 100%;
	padding-right: 50px;
	position: relative;
}

.login-page.login-container .login-box-body .form-control {
	background: #333333;
	width: 77%;
    float: left;
	border: none;
	height: 60px;
	padding-top: 12;
	padding-bottom: 12;
	font-size: 1em;
}

.login-page.login-container a {
	color: #fff;
}


.forgot-pass-link-container {
    width: 100%;
    text-align: center;
    display: inline-block;
}

.forgot-pass-link-container a {
	color: #fff;
    text-align: center;
    display: inline-block;
    border-bottom: 1px solid #fff;
}

.login-page.login-container .has-feedback i {
    /* float: right; */
    position: absolute;
    right: -10px;
    bottom: 10px;
	font-size: 1.8em;
}

@media (max-width: 620px) {
	.login-page.login-container .login-box , .register-box {
		width: 90%;
		margin-top: 20px;
	}
	
	body .login-label {
		text-align: left;
		margin-top: 2px;
	}
	
	.login-page.login-container .login-box-body .form-control {
		width: 100%;
	}
	
	.login-page.login-container .login-box .login-logo {
		margin-left: 0px;
		padding: 0;
		margin-bottom: 0;
	}
	
	.login-page.login-container {
		padding-top: 10px;
	}	
	
	.login-page.login-container footer.main-footer {
		margin: 0;
	}
}

.login-page.login-container .main-footer {
    background: none;
    border: navajowhite;
    margin: 50px 0 0 0;
    text-align: center;
}

/*login page end*/




/*footer content */
.eduk-main-body-container .main-footer {
	margin-left: 0;
}	
@media (max-width: 1200px) {
.eduk-main-body-container .main-footer {
    
    text-align: center;
}
}
/*footer content */