﻿@model EdukiteService.Business.Entities.AssetModel
@{
    ViewBag.Title = "CreateVideo";
}

<!--More Screen started-->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" id="moreScreen">
    <div class="container">
        <div class="row">
            <!-- Main content -->
            <section class="content backend-middle-main-container">

                <div class="backend-middle-main-container-inner add-asset-topic-container">

                    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                        <div class="form-container">
                            <div class="box box-primary">
                                <div class="box-header margin-0-auto">
                                    <!--<a href="#" class="delete-btn">&nbsp;</a>-->
                                    <h3 class="box-title">Add Asset: Video <span id="assetType"></span> 	</h3>
                                    <div class="header-asset-status margin-0-auto">
                                        <a href="#" class="toggle-img">
                                            @if (Model.isAssetHide)
                                            {
                                                <img src="~/Content/img/video_Show.png" class="" alt="edukite">
                                            }
                                            else
                                            {
                                                <img src="~/Content/img/video_hidden.png" class="" alt="edukite">
                                            }
                                        </a>
                                        @*<img src="~/Content/img/video_Show.png" alt="edukite" class="video-show">
                                            <img src="~/Content/img/video_hidden.png" alt="edukite" class="video-hide" style="display: none;"><br>*@
                                        <a href="#" class="video-hide-btn">Hide</a>/<a href="#" class="video-show-btn">Show</a>
                                    </div>
                                </div>
                                <!-- /.box-header -->
                                <!-- form start -->
                                <form role="form" class="add-asset-form-container" method="post" enctype="multipart/form-data">

                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="add-asset-form-container-inner">
                                            <div class="box-body">

                                                <div class="form-group asset-selcetion" style="display:none">
                                                    <label for="exampleInputEmail1">Asset type*</label>
                                                    <div>
                                                        @Html.DropDownList("SelectedMoreAssetType", new SelectList((System.Collections.IEnumerable)ViewData["AssetTypeData"], "AssetTypeId", "Description"), new { htmlAttributes = new { @class = "firstopt form-control nice-select option current" } })
                                                    </div>
                                                </div>

                                                <div class="form-group asset-selcetion no-padding-right pull-left no-padding-left col-lg-5 col-sm-5 col-md-5 col-xs-12">
                                                    <label for="exampleInputEmail1">Subtopic</label>
                                                    @if (Model.SubtopicId != null)
                                                    {
                                                        <div>
                                                            @Html.DropDownList("SelectedMoreScreenSubTopic", new SelectList((System.Collections.IEnumerable)ViewData["SubTopicData"], "SubtopicId", "SubtopicName", Model.SubtopicId), new { htmlAttributes = new { @class = "firstopt form-control nice-select option current" } })
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div>
                                                            @Html.DropDownList("SelectedMoreScreenSubTopic", new SelectList((System.Collections.IEnumerable)ViewData["SubTopicData"], "SubtopicId", "SubtopicName"), "None", new { htmlAttributes = new { @class = "firstopt form-control nice-select option current" } })
                                                        </div>
                                                    }

                                                </div>

                                                <div class="form-group no-padding-left no-padding-right pull-right col-lg-5 col-sm-5 col-md-5 col-xs-12">
                                                    <label for="exampleInputEmail1">Asset UUID*</label>
                                                    <div>
                                                        @Html.EditorFor(model => model.AssetId, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.AssetId, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Name*</label>
                                                    <div>
                                                        @Html.EditorFor(model => model.AssetName, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.AssetName, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group no-padding-right-respo no-padding-left pull-left col-lg-4 col-sm-4 col-md-4 col-xs-12">
                                                    <label for="exampleInputEmail1">Length (Seconds)*</label>
                                                    <div>
                                                        @Html.EditorFor(model => model.AssetLength, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.AssetLength, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group no-padding-left no-padding-right pull-right col-lg-8 col-sm-8 col-md-8 col-xs-12">
                                                    <label for="exampleInputPassword1">Description</label>
                                                    <div>
                                                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group image-upload-container file-upload-box">

                                                    @*@using (Html.BeginForm("FileUpload", "Asset", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                                        {*@
                                                    <div class="form-group no-padding-left no-padding-right col-lg-8 col-sm-12 col-md-8 col-xs-12">
                                                        <label for="exampleInputPassword1">Resolution*</label>

                                                        <div class="file-upload-box-top">
                                                            <label class="reso-label" for="imageHigh">High</label>
                                                            <div class="custom-file col-lg-9 col-sm-8 col-md-8 col-xs-8">
                                                                <div class="custom-file col-lg-9 col-sm-8 col-md-8 col-xs-8">
                                                                    @Html.TextBoxFor(model => model.PostedFileHigh, new { type = "file", id = "customFileHigh", accept = "video/mp4", htmlAttributes = new { @class = "custom-file-input" } })
                                                                    <label id="lblChooseFile" class="custom-file-label" for="customFileHigh">Choose file</label>
                                                                </div>
                                                                @Html.ValidationMessageFor(model => model.PostedFileHigh, "", new { @class = "text-danger" })
                                                                <label id="customFileHighName" style="background-color: #f2f2f2;font-size: 16px"></label>
                                                                <button type="button" class="highFileButton" id="btncustomFileHighName">Remove</button>

                                                            </div>
                                                            <span id="customFile1Size" class="sub-label"></span>
                                                        </div>

                                                        <div class="file-upload-box-top">
                                                            <label class="reso-label" for="imageHigh">Medium</label>
                                                            <div class="custom-file col-lg-9 col-sm-8 col-md-8 col-xs-8">
                                                                <div class="custom-file col-lg-9 col-sm-8 col-md-8 col-xs-8">
                                                                    @Html.TextBoxFor(model => model.PostedFileMedium, new { type = "file", id = "customFileMedium", accept = "video/mp4", htmlAttributes = new { @class = "custom-file-input" } })
                                                                    <label id="lblMediumChooseFile" class="custom-file-label" for="customFileMedium">Choose file</label>
                                                                </div>
                                                                @*@Html.TextBoxFor(model => model.PostedFileMedium, new { type = "file", id = "customFileMedium", accept = "video/mp4" })*@
                                                                @Html.ValidationMessageFor(model => model.PostedFileMedium, "", new { @class = "text-danger" })
                                                                <label id="customFileMediumName" style="background-color: #f2f2f2;font-size: 16px"></label>
                                                                <button type="button" class="highFileButton" id="btncustomFileMediumName">Remove</button>
                                                            </div>
                                                            <span id="customFile2Size" class="sub-label"></span>
                                                        </div>

                                                        <div class="file-upload-box-top">
                                                            <label class="reso-label" for="imageHigh">Low</label>
                                                            <div class="custom-file col-lg-9 col-sm-8 col-md-8 col-xs-8">
                                                                <div class="custom-file col-lg-9 col-sm-8 col-md-8 col-xs-8">
                                                                    @Html.TextBoxFor(model => model.PostedFileLow, new { type = "file", id = "customFileLow", accept = "video/mp4", htmlAttributes = new { @class = "custom-file-input" } })
                                                                    <label id="lblLowChooseFile" class="custom-file-label" for="customFileLow">Choose file</label>
                                                                </div>
                                                                @*@Html.TextBoxFor(model => model.PostedFileLow, new { type = "file", id = "customFileLow", accept = "video/mp4" })*@
                                                                @Html.ValidationMessageFor(model => model.PostedFileLow, "", new { @class = "text-danger" })
                                                                <label id="customFileLowName" style="background-color: #f2f2f2;font-size: 16px"></label>
                                                                <button type="button" class="highFileButton" id="btncustomFileLowName">Remove</button>
                                                            </div>
                                                            <span id="customFile3Size" class="sub-label"></span>
                                                        </div>

                                                    </div>

                                                    <div class="form-group file-upload-box-right-container no-padding-right-respo no-padding-left-respo col-lg-4 col-sm-6 col-md-4 col-xs-12">
                                                        <label for="exampleInputEmail1">Thumbnail</label>

                                                        <div class="file-upload-box-top">
                                                            <div class="custom-file col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                                                @*@Html.TextBoxFor(model => model.PostedFileThumbnail, new { type = "file", id = "customThumbNail" })*@

                                                                @*<div class="custom-file col-lg-9 col-sm-8 col-md-8 col-xs-8">*@
                                                                @Html.TextBoxFor(model => model.PostedFileThumbnail, new { type = "file", id = "customThumbNail", htmlAttributes = new { @class = "custom-file-input" } })
                                                                <label id="lblThumbnailChooseFile" class="custom-file-label" for="customThumbNail">Choose file</label>
                                                                @*</div>*@

                                                                <label id="customThumbNailName" style="background-color: #f2f2f2;font-size: 16px"></label>
                                                                <button type="button" class="highFileButton" id="btncustomFileThumbNailName">Remove</button>
                                                            </div>

                                                        </div>
                                                        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                                            @Html.ValidationMessageFor(model => model.PostedFileThumbnail, "", new { @class = "text-danger" })
                                                        </div>

                                                        <div class="no-padding-left col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                                            <div class="uploaded-file-thumbnail-box">
                                                                <img id="image_upload_preview" />
                                                            </div>
                                                            <span id="customThumbNailSize" class="sub-label"></span>
                                                        </div>

                                                    </div>

                                                    <div class="box-footer-inner display-inline-block  margin-0-auto col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                                        <input id="uploadForm" value="Upload" type="button" class="btn btn-grey" />
                                                        <label id="errorUploadMsg" class="text-danger"></label>
                                                    </div>
                                                    @*}*@
                                                </div>

                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                        <div class="box-footer">
                                            <div class="pull-right col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                                <button type="button" id="btnMoreCancle" class="btn btn-grey pull-right">Cancel</button>
                                                <button type="submit" id="btnMoreSave" class="btn btn-grey pull-right">Create</button>
                                            </div>
                                        </div>
                                    }
                                </form>
                            </div>
                        </div>
                        <!--<img src="img/div-place-right.png" class="" alt="backend" style="height: auto; width: 76%;">-->
                    </div>
                </div>

            </section>

        </div>
    </div>
    <!-- /.content -->
    <div class="modal fade" id="modal-default" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Are you sure you want to re-publish GRADE 12?</p>
                </div>
                <div class="modal-footer">
                    <div class="col-lg-10 col-sm-10 col-md-8 col-xs-12 float-none margin-0-auto">
                        <button type="button" class="btn pull-left">Yes</button>
                        <button type="button" class="btn pull-right">Cancel</button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>
<!-- /.content-wrapper -->

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                <h4 class="modal-title" style="color:black" id="myModalLabel">Are you sure, You want to Cancel?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="modal-btn-yes">Yes</button>
                <button type="button" class="btn btn-primary" id="modal-btn-no">No</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
    @Scripts.Render("~/bundles/validate")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/upload")

    <script>



        var modalConfirm = function (callback) {

            $("#btnMoreCancle").on("click", function () {
            $("#mi-modal").modal('show');
        });

        $("#modal-btn-yes").on("click", function () {
            callback(true);
            $("#mi-modal").modal('hide');
        });

        $("#modal-btn-no").on("click", function () {
            callback(false);
            $("#mi-modal").modal('hide');
        });
    };

    modalConfirm(function (confirm) {
        if (confirm) {
            window.location.href = '@Url.Action("GetSubTopics", "SubTopics")' + '?id=' + @TempData["TopicId"];

        } else {
        }
    });


        $(document).ready(function () {
            $("#customFileHighName").hide();
            $("#btncustomFileHighName").hide();
            $("#customFileMediumName").hide();
            $("#btncustomFileMediumName").hide();
            $("#customFileLowName").hide();
            $("#btncustomFileLowName").hide();
            $("#customThumbNailName").hide();
            $("#btncustomFileThumbNailName").hide();
            $("#errorUploadMsg").text("");

            $("#btnMoreSave").attr("disabled", true);


            $("#uploadForm").click(function () {

                var IsAllowedTouploadHigh = false;
                var IsAllowedTouploadMedium = false;
                var IsAllowedTouploadlow = false;
                debugger;
                if ($("#customFileHigh")[0].files[0] != undefined && $("#customFileHigh")[0].files[0].name.split('.').pop() == "mp4") {

                    $("#lblChooseFile").hide();
                    $("#customFileHigh").hide();
                    $("#customFileHighName").text($("#customFileHigh")[0].files[0].name);
                    $("#customFileHighName").show();
                    $("#btncustomFileHighName").show();
                    $("#errorUploadMsg").text("");
                    IsAllowedTouploadHigh = true;
                } else {
                  //  $("#errorUploadMsg").text("Only mp4 files allowed.");
                   // return false;
                }
                if ($("#customFileMedium")[0].files[0] != undefined && $("#customFileMedium")[0].files[0].name.split('.').pop() == "mp4") {
                    $("#lblMediumChooseFile").hide();
                    $("#customFileMedium").hide();
                    $("#customFileMediumName").text($("#customFileMedium")[0].files[0].name);
                    $("#customFileMediumName").show();
                    $("#btncustomFileMediumName").show();
                    $("#errorUploadMsg").text("");
                    IsAllowedTouploadMedium = true;
                }
                else {
                    //$("#errorUploadMsg").text("Only mp4 files allowed.");
                    //return false;
                }
                if ($("#customFileLow")[0].files[0] != undefined && $("#customFileLow")[0].files[0].name.split('.').pop() == "mp4") {
                    $("#lblLowChooseFile").hide();
                    $("#customFileLow").hide();
                    $("#customFileLowName").text($("#customFileLow")[0].files[0].name);
                    $("#customFileLowName").show();
                    $("#btncustomFileLowName").show();
                    $("#errorUploadMsg").text("");
                    IsAllowedTouploadlow = true;
                }
                else {
                   // $("#errorUploadMsg").text("Only mp4 files allowed.");
                    //return false;
                }
                if ($("#customThumbNail")[0].files[0] != undefined && ($("#customThumbNail")[0].files[0].name.split('.').pop() == "jpg" || $("#customThumbNail")[0].files[0].name.split('.').pop() == "png")) {
                    $("#lblThumbnailChooseFile").hide();
                    $("#customThumbNail").hide();
                    $("#customThumbNailName").text($("#customThumbNail")[0].files[0].name);
                    $("#customThumbNailName").show();
                    $("#btncustomFileThumbNailName").show();
                    $("#errorUploadMsg").text("");
                    IsAllowedTouploadThumbanail = true;
                }
                else {
                    //$("#errorUploadMsg").text("Only png/jpg files allowed.");
                    //return false;
                }

                if ((IsAllowedTouploadHigh === true || IsAllowedTouploadMedium === true || IsAllowedTouploadlow === true) && IsAllowedTouploadThumbanail === true)
                {
                    $("#btnMoreSave").attr("disabled", false);
                }
                else {
                    return false;
                }
                            

            });

            $("#btncustomFileHighName").click(function () {
                $("#btnMoreSave").attr("disabled", true);
                $("#lblChooseFile").show();
                $("#lblChooseFile").text("Choose file");
                $("#customFileHigh").show();
                $("#customFileHigh").val("");
                $("#customFile1Size").text("");
                $("#customFileHighName").hide();
                $("#btncustomFileHighName").hide();
                IsAllowedTouploadHigh = false;
            });

            $("#btncustomFileMediumName").click(function () {
                $("#btnMoreSave").attr("disabled", true);
                $("#lblMediumChooseFile").show();
                $("#lblMediumChooseFile").text("Choose file");
                $("#customFileMedium").show();
                $("#customFileMedium").val("");
                $("#customFile2Size").text("");
                $("#customFileMediumName").hide();
                $("#btncustomFileMediumName").hide();
                IsAllowedTouploadMedium = false;
            });

            $("#btncustomFileLowName").click(function () {
                $("#btnMoreSave").attr("disabled", true);
                $("#lblLowChooseFile").show();
                $("#lblLowChooseFile").text("Choose file");
                $("#customFileLow").show();
                $("#customFileLow").val("");
                $("#customFile3Size").text("");
                $("#customFileLowName").hide();
                $("#btncustomFileLowName").hide();
                IsAllowedTouploadlow = false;
            });

            $("#btncustomFileThumbNailName").click(function () {
                $("#btnMoreSave").attr("disabled", true);
                $("#lblThumbnailChooseFile").show();
                $("#lblThumbnailChooseFile").text("Choose file");
                $("#customThumbNail").show();
                $("#customThumbNail").val("");
                $("#customThumbNailSize").text("");
                $('#image_upload_preview').attr('src', "");
                $("#customThumbNailName").hide();
                $("#btncustomFileThumbNailName").hide();
                IsAllowedTouploadThumbanail = false;
            });


            //$("#moreScreen").hide();
            //$("#addScreen").show();
        })




        $("#customFileHigh").on("change", function (e) {
            debugger;
            fileHigh = e.target.files[0];
            if (e.target.files && e.target.files[0]) {
                var size = e.target.files[0].size;
                var customFileSizeMB = "(" + (size / (1024 * 1024)).toFixed(2) + "MB)";
                $("#lblChooseFile").text(fileHigh.name);
                $("#customFile1Size").text(customFileSizeMB);
            } else {
                $("#lblChooseFile").text("Choose file");
                $("#customFile1Size").text("");
            }
        });

        $("#customFileMedium").on("change", function (e) {
            fileMedium = e.target.files[0];
            if (e.target.files && e.target.files[0]) {
                var size = e.target.files[0].size;
                var customFileSizeMB = "(" + (size / (1024 * 1024)).toFixed(2) + "MB)";
                $("#lblMediumChooseFile").text(fileMedium.name);
                $("#customFile2Size").text(customFileSizeMB);
            }
         else {
                $("#lblMediumChooseFile").text("Choose file");
                $("#customFile2Size").text("");
            }
        });
        $("#customFileLow").on("change", function (e) {
            fileLow = e.target.files[0];
            if (e.target.files && e.target.files[0]) {
            var size = e.target.files[0].size;
                var customFileSizeMB = "(" + (size / (1024 * 1024)).toFixed(2) + "MB)";
                $("#lblLowChooseFile").text(fileLow.name);
                $("#customFile3Size").text(customFileSizeMB);
            } else {
                $("#lblLowChooseFile").text("Choose file");
                $("#customFile3Size").text("");
            }
        });

        $("#customThumbNail").on("change", function (e) {
            fileThumbnail = e.target.files[0];
            if (e.target.files && e.target.files[0]) {
                var reader = new FileReader();
                var size = e.target.files[0].size;
                var customFileSizeMB = "(" + (size / (1024 * 1024)).toFixed(2) + "MB)";
                $("#lblThumbnailChooseFile").text(fileThumbnail.name);
                $("#customThumbNailSize").text(customFileSizeMB);
                reader.onload = function (e) {
                    $('#image_upload_preview').attr('src', e.target.result);
                }
                reader.readAsDataURL(e.target.files[0]);
            } else {
                $('#image_upload_preview').removeAttr("src");
                $("#lblThumbnailChooseFile").text("Choose file");
                $("#customThumbNailSize").text("");
            }
        });



        $('.video-hide-btn').click(function () {
                $(".toggle-img img").attr('src', '/Content/img/video_hidden.png');
                $(".toggle-img").removeClass('play');
                isSetAssetHide(0);
        });

        $('.video-show-btn').click(function () {
                $(".toggle-img img").attr('src', '/Content/img/video_show.png');
                $(".toggle-img").addClass('play');
                isSetAssetHide(1);
        });


        $('.toggle-img').click(function () {
            if (!$(this).hasClass('play')) {
                $(".toggle-img img").attr('src', '/Content/img/video_show.png');
                $(this).addClass('play');
                isSetAssetHide(1);
            } else {
                $(".toggle-img img").attr('src', '/Content/img/video_hidden.png');
                $(this).removeClass('play');
                isSetAssetHide(0);
            }
        });

        function isSetAssetHide(hideShow) {
            $.ajax({
                url: "/Asset/setAssetHide",
                type: 'POST',
                data: { id: hideShow }
            }).done(function (data) {

            }).fail(function () {
                alert("There is something wrong. Please try again.");
            })
        }

        // trigger upload on space & enter
        // = standard button functionality
        $('#buttonlabel span[role=button]').bind('keypress keyup', function (e) {
            if (e.which === 32 || e.which === 13) {
                e.preventDefault();
                $('#fileupload').click();
            }
        });

        // return chosen filename to additional input
        $('#fileupload').change(function (e) {
            var filename = $('#fileupload').val().split('\\').pop();
            $('#filename').val(filename);
            $('#filename').attr('placeholder', filename);
            $('#filename').focus();
        });

        $('.list-group-sortable').sortable({
            placeholderClass: 'list-group-item'
        });

        $(document).ready(function () {

            $('.differentClass').addClass($('.firstClass').attr('class'));

            $('select').niceSelect();

            $('.custom-file-input').on('change', function () {
                //get the file name
                var fileName = $(this).val();
                //replace the "Choose a file" label
                $(this).next('.custom-file-label').html(fileName);
            });

            $(".header-asset-status a").click(function () {
                if ($(this).hasClass("video-hide-btn")) {

                    $(".header-asset-status .video-show").hide();
                    $(".header-asset-status .video-hide").show();
                    return false;
                }
                else {
                    $(".header-asset-status .video-show").show();
                    $(".header-asset-status .video-hide").hide();
                    return false;
                }
            });
        });


        // trigger upload on space & enter
        // = standard button functionality
        $('#buttonlabel span[role=button]').bind('keypress keyup', function (e) {
            if (e.which === 32 || e.which === 13) {
                e.preventDefault();
                $('#fileupload').click();
            }
        });

        // return chosen filename to additional input
        $('#fileupload').change(function (e) {
            var filename = $('#fileupload').val().split('\\').pop();
            $('#filename').val(filename);
            $('#filename').attr('placeholder', filename);
            $('#filename').focus();
        });






    </script>



}
@Styles.Render("~/Content/css/CreateVideo.css");



