﻿@model EdukiteService.Business.Entities.AssetModel

@{
    ViewBag.Title = "Create";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" id="addScreen">
    <div class="container">
        <div class="row">
            <!-- Main content -->
            <section class="content backend-middle-main-container">

                <div class="backend-middle-main-container-inner">
                    <div class="col-lg-8 col-sm-6 col-md-6 col-xs-12">
                        @Html.Partial("~/Views/SubTopics/_GetSubTopics.cshtml", (EdukiteService.Business.Entities.CommonSubTopicAssetModel)ViewBag.SubTopicAssetData)
                    </div>
                    <div class="col-lg-4 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-container form-group-width">
                            <div class="box box-primary">
                                <div class="box-header">
                                    <!--<a href="#" class="delete-btn">&nbsp;</a>-->
                                    <h3 class="box-title">Add Asset</h3>
                                </div>
                                <!-- /.box-header -->
                                <!-- form start -->
                                <form id="formAddScreen" method="post"  role="form">

                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()

                                        <div class="box-body">

                                            <div class="form-group asset-selcetion">
                                                <label for="exampleInputEmail1">Subtopic*</label>
                                                <div>
                                                    <div>
                                                        @Html.DropDownList("SelectedSubTopic", new SelectList((System.Collections.IEnumerable)ViewData["SubTopicData"], "SubtopicId", "SubtopicName"), "None", new { htmlAttributes = new { @class = "firstopt form-control nice-select option current" } })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group asset-selcetion">
                                                <label for="exampleInputEmail1">Asset type*</label>
                                                <div>
                                                    @Html.DropDownList("SelectedAssetType", new SelectList((System.Collections.IEnumerable)ViewData["AssetTypeData"], "AssetTypeId", "Description"), new { htmlAttributes = new { @class = "firstopt form-control nice-select option current" } })
                                                </div>
                                            </div>



                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Asset UUID*</label>
                                                <div>
                                                    @Html.EditorFor(model => model.AssetId, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.AssetId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Name*</label>
                                                <div>
                                                    @Html.EditorFor(model => model.AssetName, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.AssetName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="exampleInputPassword1">Description</label>
                                                <div>
                                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control height-75" } })
                                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                        </div>
                                    <!-- /.box-body -->

                                        <div class="box-footer">
                                            <div class="box-footer-inner col-lg-9 col-sm-10 col-md-8 col-xs-12">
                                                <!--<button type="submit" class="btn btn-grey pull-left">Create</button>-->
                                                <a href="" class="more">More</a>
                                                <button type="button" onclick="location.href='@Url.Action("GetSubTopics", "SubTopics", new { @id = TempData["TopicId"] })'" class="btn btn-grey pull-right">Cancel</button>
                                            </div>
                                        </div>

                                    }
                                </form>
                            </div>
                        </div>
                        <!--<img src="img/div-place-right.png" class="" alt="backend" style="height: auto; width: 76%;">-->
                    </div>
                </div>

            </section>

        </div>
    </div>
</div>
<!-- /.content-wrapper -->









@section Scripts {
@*@Scripts.Render("~/bundles/jqueryval")*@
    @Scripts.Render("~/bundles/validate")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/upload")

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jquery-ui")
@Scripts.Render("~/bundles/bootstrap")
    <script>



        @*var modalConfirm = function (callback) {

            $("#btnMoreCancle").on("click", function () {
            $("#mi-modal").modal('show');
        });

        $("#modal-btn-yes").on("click", function () {
            callback(true);
            $("#mi-modal").modal('hide');
        });

        $("#modal-btn-no").on("click", function () {
            callback(false);
            $("#mi-modal").modal('hide');
        });
    };

    modalConfirm(function (confirm) {
        if (confirm) {
            window.location.href = '@Url.Action("GetSubTopics", "SubTopics")' + '?id=' + @TempData["TopicId"];

        } else {
        }
    });*@


        $(document).ready(function () {
            //$("#customFileHighName").hide();
            //$("#btncustomFileHighName").hide();
            //$("#customFileMediumName").hide();
            //$("#btncustomFileMediumName").hide();
            //$("#customFileLowName").hide();
            //$("#btncustomFileLowName").hide();
            //$("#customThumbNailName").hide();
            //$("#btncustomFileThumbNailName").hide();
            //$("#errorUploadMsg").text("");




            //$("#uploadForm").click(function () {


            //    if ($("#customFileHigh")[0].files[0] != undefined && $("#customFileHigh")[0].files[0].name.split('.').pop() == "mp4") {
            //        $("#customFileHigh").hide();
            //        $("#customFileHighName").text($("#customFileHigh")[0].files[0].name);
            //        $("#customFileHighName").show();
            //        $("#btncustomFileHighName").show();
            //        $("#errorUploadMsg").text("");
            //    } else {
            //      //  $("#errorUploadMsg").text("Only mp4 files allowed.");
            //        return false;
            //    }
            //    if ($("#customFileMedium")[0].files[0] != undefined && $("#customFileMedium")[0].files[0].name.split('.').pop() == "mp4") {
            //        $("#customFileMedium").hide();
            //        $("#customFileMediumName").text($("#customFileMedium")[0].files[0].name);
            //        $("#customFileMediumName").show();
            //        $("#btncustomFileMediumName").show();
            //        $("#errorUploadMsg").text("");
            //    }
            //    else {
            //        //$("#errorUploadMsg").text("Only mp4 files allowed.");
            //        return false;
            //    }
            //    if ($("#customFileLow")[0].files[0] != undefined && $("#customFileLow")[0].files[0].name.split('.').pop() == "mp4") {
            //        $("#customFileLow").hide();
            //        $("#customFileLowName").text($("#customFileLow")[0].files[0].name);
            //        $("#customFileLowName").show();
            //        $("#btncustomFileLowName").show();
            //        $("#errorUploadMsg").text("");
            //    }
            //    else {
            //       // $("#errorUploadMsg").text("Only mp4 files allowed.");
            //        return false;
            //    }
            //    if ($("#customThumbNail")[0].files[0] != undefined && ($("#customThumbNail")[0].files[0].name.split('.').pop() == "jpg" || $("#customThumbNail")[0].files[0].split('.').pop() == "png")) {
            //        $("#customThumbNail").hide();
            //        $("#customThumbNailName").text($("#customThumbNail")[0].files[0].name);
            //        $("#customThumbNailName").show();
            //        $("#btncustomFileThumbNailName").show();
            //        $("#errorUploadMsg").text("");
            //    }
            //    else {
            //        //$("#errorUploadMsg").text("Only png/jpg files allowed.");
            //        return false;
            //    }

            //    $("#btnMoreSave").attr("disabled", false);

            //});

            //$("#btncustomFileHighName").click(function () {
            //    $("#btnMoreSave").attr("disabled", true);
            //    $("#customFileHigh").show();
            //    $("#customFileHigh").val("");
            //    $("#customFile1Size").text("");
            //    $("#customFileHighName").hide();
            //    $("#btncustomFileHighName").hide();
            //});

            //$("#btncustomFileMediumName").click(function () {
            //    $("#btnMoreSave").attr("disabled", true);
            //    $("#customFileMedium").show();
            //    $("#customFileMedium").val("");
            //    $("#customFile2Size").text("");
            //    $("#customFileMediumName").hide();
            //    $("#btncustomFileMediumName").hide();
            //});

            //$("#btncustomFileLowName").click(function () {
            //    $("#btnMoreSave").attr("disabled", true);
            //    $("#customFileLow").show();
            //    $("#customFileLow").val("");
            //    $("#customFile3Size").text("");
            //    $("#customFileLowName").hide();
            //    $("#btncustomFileLowName").hide();
            //});

            //$("#btncustomFileThumbNailName").click(function () {
            //    $("#btnMoreSave").attr("disabled", true);
            //    $("#customThumbNail").show();
            //    $("#customThumbNail").val("");
            //    $("#customThumbNailSize").text("");
            //    $('#image_upload_preview').attr('src', "");
            //    $("#customThumbNailName").hide();
            //    $("#btncustomFileThumbNailName").hide();
            //});


            //$("#moreScreen").hide();
            //$("#addScreen").show();
        })
        $(".more").on("click", function () {
            var formData = new FormData();
            formData.append('AssetId', $("#addScreen #AssetId").val());
            formData.append('AssetName', $("#addScreen #AssetName").val());
            formData.append('SubtopicId', $("#SelectedSubTopic").val());
            formData.append('AssetTypeId', $("#SelectedAssetType").val());
            formData.append('Description', $("#addScreen #Description").val());
            formData.append('TpoicId', @TempData["TopicId"]);
            $.ajax({
                url: "/Asset/CreateData",
                type: 'post',
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                success: function (data) {
                    switch (data) {
                        case '1':
                            window.location.href = '@Url.Action("CreateVideo", "Asset")'+'?id='+@TempData["TopicId"];
                            break;
                        case '2':
                            window.location.href = '@Url.Action("CreateTest", "Asset")'+'?id='+@TempData["TopicId"];
                            break;
                        case '3':
                            window.location.href = '@Url.Action("CreateSimulationorInteractive", "Asset")'+'?id='+@TempData["TopicId"];
                            break;
                        case '4':
                              window.location.href = '@Url.Action("CreateSimulationorInteractive", "Asset")'+'?id='+@TempData["TopicId"];
                            break;
                    }
                }
            });
        });



        //$("#customFileHigh").on("change", function (e) {
        //    fileHigh = e.target.files[0];
        //    if (e.target.files && e.target.files[0]) {
        //        var size = e.target.files[0].size;
        //        var customFileSizeMB = "(" + (size / (1024 * 1024)).toFixed(2) + "MB)";
        //        $("#customFile1Size").text(customFileSizeMB);
        //    } else {

        //    }
        //});

        //$("#customFileMedium").on("change", function (e) {
        //    fileMedium = e.target.files[0];
        //    if (e.target.files && e.target.files[0]) {
        //        var size = e.target.files[0].size;
        //        var customFileSizeMB = "(" + (size / (1024 * 1024)).toFixed(2) + "MB)";
        //        $("#customFile2Size").text(customFileSizeMB);
        //    }
        // else {

        //    }
        //});
        //$("#customFileLow").on("change", function (e) {
        //    fileLow = e.target.files[0];
        //    if (e.target.files && e.target.files[0]) {
        //    var size = e.target.files[0].size;
        //    var customFileSizeMB = "(" + (size / (1024 * 1024)).toFixed(2) + "MB)";
        //        $("#customFile3Size").text(customFileSizeMB);
        //    } else {

        //    }
        //});

        //$("#customThumbNail").on("change", function (e) {
        //    fileThumbnail = e.target.files[0];
        //    if (e.target.files && e.target.files[0]) {
        //        var reader = new FileReader();
        //        var size = e.target.files[0].size;
        //        var customFileSizeMB = "(" + (size / (1024 * 1024)).toFixed(2) + "MB)";
        //        $("#customThumbNailSize").text(customFileSizeMB);
        //        reader.onload = function (e) {
        //            $('#image_upload_preview').attr('src', e.target.result);
        //        }
        //        reader.readAsDataURL(e.target.files[0]);
        //    } else {
        //        $('#image_upload_preview').removeAttr("src");
        //        $("#customThumbNailSize").text("");
        //    }
        //});



        //$('.video-hide-btn').click(function () {
        //        $(".toggle-img img").attr('src', '/Content/img/video_hidden.png');
        //        $(".toggle-img").removeClass('play');
        //        isSetAssetHide(0);
        //});

        //$('.video-show-btn').click(function () {
        //        $(".toggle-img img").attr('src', '/Content/img/video_show.png');
        //        $(".toggle-img").addClass('play');
        //        isSetAssetHide(1);
        //});


        //$('.toggle-img').click(function () {
        //    if (!$(this).hasClass('play')) {
        //        $(".toggle-img img").attr('src', '/Content/img/video_show.png');
        //        $(this).addClass('play');
        //        isSetAssetHide(1);
        //    } else {
        //        $(".toggle-img img").attr('src', '/Content/img/video_hidden.png');
        //        $(this).removeClass('play');
        //        isSetAssetHide(0);
        //    }
        //});

        //function isSetAssetHide(hideShow) {
        //    $.ajax({
        //        url: "/Asset/setAssetHide",
        //        type: 'POST',
        //        data: { id: hideShow }
        //    }).done(function (data) {

        //    }).fail(function () {
        //        alert("There is something wrong. Please try again.");
        //    })
        //}

        //// trigger upload on space & enter
        //// = standard button functionality
        //$('#buttonlabel span[role=button]').bind('keypress keyup', function (e) {
        //    if (e.which === 32 || e.which === 13) {
        //        e.preventDefault();
        //        $('#fileupload').click();
        //    }
        //});

        //// return chosen filename to additional input
        //$('#fileupload').change(function (e) {
        //    var filename = $('#fileupload').val().split('\\').pop();
        //    $('#filename').val(filename);
        //    $('#filename').attr('placeholder', filename);
        //    $('#filename').focus();
        //});

        //$('.list-group-sortable').sortable({
        //    placeholderClass: 'list-group-item'
        //});

        //$(document).ready(function () {

        //    $('.differentClass').addClass($('.firstClass').attr('class'));

        //    $('select').niceSelect();

        //    $('.custom-file-input').on('change', function () {
        //        //get the file name
        //        var fileName = $(this).val();
        //        //replace the "Choose a file" label
        //        $(this).next('.custom-file-label').html(fileName);
        //    });

        //    $(".header-asset-status a").click(function () {
        //        if ($(this).hasClass("video-hide-btn")) {

        //            $(".header-asset-status .video-show").hide();
        //            $(".header-asset-status .video-hide").show();
        //            return false;
        //        }
        //        else {
        //            $(".header-asset-status .video-show").show();
        //            $(".header-asset-status .video-hide").hide();
        //            return false;
        //        }
        //    });
        //});





        $(function () {
            $(".list-group-sortable").sortable({

                update: function (event, ui) {
                    var orderSb = 1;
                    var orderA = 1;
                    var modelSB = [];
                    debugger;
                    var modelA = [];
                    $("ul#sbSortable>li").each(function () {
                        $('ul#sbSortable').sortable('disable');
                        var hdn = $('#hdnSB', '.list-group-sortable li').eq(orderSb - 1);
                        var objModel = { SubtopicId: hdn.val(), SubtopicNo: orderSb };
                        modelSB.push(objModel);
                        orderSb++;
                    });

                    $("ul#assetSortable>li").each(function () {
                        $('ul#assetSortable').sortable('disable');
                        var hdn = $('#hdnAsset', '.list-group-sortable li').eq(orderA - 1);
                        var objModel = { AssetId: hdn.val(), AssetNo: orderA };
                        modelA.push(objModel);
                        orderA++;
                    });

                    if (modelSB.length > 1) {
                        $.ajax({
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            url: '@Url.Action("UpdateSubTopicsOrderAsync", "SubTopics")',
                            data: JSON.stringify({ lstSubTopicModel: modelSB }),
                            success: function (data) {
                               // location.reload();
                            },
                            error: function (jqXHR, exception) {
                                var msg = '';
                                if (jqXHR.status === 0) {
                                    msg = 'Not connect.\n Verify Network.';
                                } else if (jqXHR.status == 404) {
                                    msg = 'Requested page not found. [404]';
                                } else if (jqXHR.status == 500) {
                                    msg = 'Internal Server Error [500].';
                                } else if (exception === 'parsererror') {
                                    msg = 'Requested JSON parse failed.';
                                } else if (exception === 'timeout') {
                                    msg = 'Time out error.';
                                } else if (exception === 'abort') {
                                    msg = 'Ajax request aborted.';
                                } else {
                                    msg = 'Uncaught Error.\n' + jqXHR.responseText;
                                }
                                alert(msg);

                            }
                        });
                    }

                    if (modelA.length > 1) {
                        $.ajax({
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            url: '@Url.Action("UpdateAssetOrderAsync", "SubTopics")',
                            data: JSON.stringify({ lstAssetModel: modelA }),
                            success: function (data) {
                                location.reload();
                            },
                            error: function (jqXHR, exception) {
                                var msg = '';
                                if (jqXHR.status === 0) {
                                    msg = 'Not connect.\n Verify Network.';
                                } else if (jqXHR.status == 404) {
                                    msg = 'Requested page not found. [404]';
                                } else if (jqXHR.status == 500) {
                                    msg = 'Internal Server Error [500].';
                                } else if (exception === 'parsererror') {
                                    msg = 'Requested JSON parse failed.';
                                } else if (exception === 'timeout') {
                                    msg = 'Time out error.';
                                } else if (exception === 'abort') {
                                    msg = 'Ajax request aborted.';
                                } else {
                                    msg = 'Uncaught Error.\n' + jqXHR.responseText;
                                }
                                alert(msg);

                            }
                        });
                    }
                }

            });



        });


    </script>



}
@Styles.Render("~/Content/css") 
