﻿@model EdukiteService.Business.Entities.AssetModel
@{
    ViewBag.Title = "EditVideo";
}



<!--More Screen started-->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" id="moreScreen">
    <div class="container">
        <div class="row">
            <!-- Main content -->
            <section class="content backend-middle-main-container">

                <div class="backend-middle-main-container-inner add-asset-topic-container">

                    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                        <div class="form-container">
                            <div class="box box-primary">
                                <div class="box-header margin-0-auto">
                                    <!--<a href="#" class="delete-btn">&nbsp;</a>-->
                                    <h3 class="box-title">Edit Asset: <span id="assetType"></span> 	</h3>
                                    <div class="header-asset-status margin-0-auto">


                                        <a href="#" class="toggle-img">
                                            @if (Model.isAssetHide)
                                            {
                                                <img src="~/Content/img/video_Show.png" class="" alt="edukite">
                                            }
                                            else
                                            {
                                                <img src="~/Content/img/video_hidden.png" class="" alt="edukite">
                                            }
                                        </a>
                                        @*<img src="~/Content/img/video_Show.png" alt="edukite" class="video-show">
                                            <img src="~/Content/img/video_hidden.png" alt="edukite" class="video-hide" style="display: none;"><br>*@
                                        <a href="" class="video-hide-btn">Hide</a>/<a href="" class="video-show-btn">Show</a>
                                    </div>
                                    <div class="header-asset-delete"> <a href="@Url.Action("Delete", "Asset", new { AssetId = Model.AssetId, topicId = Model.TopicId })" class="delete-btn">&nbsp;</a>	</div>
                                </div>
                                <!-- /.box-header -->
                                <!-- form start -->
                                <form role="form" id="formMoreScreen" class="add-asset-form-container" method="post" enctype="multipart/form-data">

                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="add-asset-form-container-inner">
                                            <div class="box-body">

                                                <div class="form-group asset-selcetion no-padding-right pull-left no-padding-left col-lg-5 col-sm-5 col-md-5 col-xs-12">
                                                    <label for="exampleInputEmail1">Subtopic</label>
                                                    @if (Model.SubtopicId != null)
                                                    {
                                                        <div>
                                                            @Html.DropDownList("SelectedMoreScreenSubTopic", new SelectList((System.Collections.IEnumerable)ViewData["SubTopicData"], "SubtopicId", "SubtopicName", Model.SubtopicId), "None", new { htmlAttributes = new { @class = "firstopt form-control nice-select option current" } })
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div>
                                                            @Html.DropDownList("SelectedMoreScreenSubTopic", new SelectList((System.Collections.IEnumerable)ViewData["SubTopicData"], "SubtopicId", "SubtopicName"), "None", new { htmlAttributes = new { @class = "firstopt form-control nice-select option current" } })
                                                        </div>
                                                    }


                                                </div>

                                                <div class="form-group no-padding-left no-padding-right pull-right col-lg-5 col-sm-5 col-md-5 col-xs-12">
                                                    <label for="exampleInputEmail1">Asset UUID*</label>
                                                    <div>
                                                        @Html.EditorFor(model => model.AssetId, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.AssetId, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div style="display:none">
                                                    @Html.EditorFor(model => model.TopicId, new { htmlAttributes = new { @class = "form-control" } })

                                                </div>
                                                <div style="display:none">
                                                    @Html.EditorFor(model => model.AssetTypeId, new { htmlAttributes = new { @class = "form-control" } })

                                                </div>

                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Name*</label>
                                                    <div>
                                                        @Html.EditorFor(model => model.AssetName, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.AssetName, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group no-padding-right-respo no-padding-left pull-left col-lg-4 col-sm-4 col-md-4 col-xs-12">
                                                    <label for="exampleInputEmail1">Length (Seconds)*</label>
                                                    <div>
                                                        @Html.EditorFor(model => model.AssetLength, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.AssetLength, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group no-padding-left no-padding-right pull-right col-lg-8 col-sm-8 col-md-8 col-xs-12">
                                                    <label for="exampleInputPassword1">Description</label>
                                                    <div>
                                                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group image-upload-container file-upload-box">

                                                    @*@using (Html.BeginForm("FileUpload", "Asset", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                                        {*@
                                                    <div class="form-group no-padding-left no-padding-right col-lg-8 col-sm-12 col-md-8 col-xs-12">
                                                        <label for="exampleInputPassword1">Resolution*</label>

                                                        <div class="file-upload-box-top">
                                                            <label class="reso-label" for="imageHigh">High</label>
                                                            <div class="custom-file col-lg-9 col-sm-8 col-md-8 col-xs-8">

                                                                <div class="custom-file col-lg-9 col-sm-8 col-md-8 col-xs-8">
                                                                    @Html.TextBoxFor(model => model.PostedFileHigh, new { type = "file", id = "customFileHigh", accept = "video/mp4", htmlAttributes = new { @class = "custom-file-input" } })
                                                                    <label id="lblChooseFile" class="custom-file-label" for="customFileHigh">Choose file</label>
                                                                </div>

                                                                @Html.ValidationMessageFor(model => model.PostedFileHigh, "", new { @class = "text-danger" })
                                                                <div style="display:none">
                                                                    @Html.TextBoxFor(model => model.FileName, new { htmlAttributes = new { @class = "form-control" } })
                                                                </div>
                                                                <label id="customFileHighName" style="background-color: #f2f2f2;font-size: 16px">

                                                                    @Html.DisplayFor(model => model.FileName)
                                                                </label>
                                                                <button type="button" class="highFileButton" id="btncustomFileHighName">Remove</button>
                                                                @*<label class="custom-file-label" for="customFile">Choose file</label>*@
                                                            </div>
                                                            <span id="customFile1Size" class="sub-label"></span>
                                                        </div>

                                                        <div class="file-upload-box-top">
                                                            <label class="reso-label" for="imageHigh">Medium</label>
                                                            <div class="custom-file col-lg-9 col-sm-8 col-md-8 col-xs-8">
                                                                <div class="custom-file col-lg-9 col-sm-8 col-md-8 col-xs-8">
                                                                    @Html.TextBoxFor(model => model.PostedFileMedium, new { type = "file", id = "customFileMedium", accept = "video/mp4", htmlAttributes = new { @class = "custom-file-input" } })
                                                                    <label id="lblMediumChooseFile" class="custom-file-label" for="customFileMedium">Choose file</label>
                                                                </div>
                                                                @*@Html.TextBoxFor(model => model.PostedFileMedium, new { type = "file", id = "customFileMedium" })*@
                                                                @Html.ValidationMessageFor(model => model.PostedFileMedium, "", new { @class = "text-danger" })
                                                                <label style="background-color: #f2f2f2;font-size: 16px" id="customFileMediumName">
                                                                    @Html.DisplayFor(model => model.FileName)
                                                                </label>

                                                                <button type="button" class="highFileButton" id="btncustomFileMediumName">Remove</button>
                                                            </div>
                                                            <span id="customFile2Size" class="sub-label"></span>
                                                        </div>

                                                        <div class="file-upload-box-top">
                                                            <label class="reso-label" for="imageHigh">Low</label>
                                                            <div class="custom-file col-lg-9 col-sm-8 col-md-8 col-xs-8">
                                                                <div class="custom-file col-lg-9 col-sm-8 col-md-8 col-xs-8">
                                                                    @Html.TextBoxFor(model => model.PostedFileLow, new { type = "file", id = "customFileLow", accept = "video/mp4", htmlAttributes = new { @class = "custom-file-input" } })
                                                                    <label id="lblLowChooseFile" class="custom-file-label" for="customFileLow">Choose file</label>
                                                                </div>

                                                                @*@Html.TextBoxFor(model => model.PostedFileLow, new { type = "file", id = "customFileLow" })*@
                                                                @Html.ValidationMessageFor(model => model.PostedFileLow, "", new { @class = "text-danger" })
                                                                <label style="background-color: #f2f2f2;font-size: 16px" id="customFileLowName">
                                                                    @Html.DisplayFor(model => model.FileName)
                                                                </label>

                                                                <button type="button" class="highFileButton" id="btncustomFileLowName">Remove</button>
                                                            </div>
                                                            <span id="customFile3Size" class="sub-label"></span>
                                                        </div>

                                                    </div>

                                                    <div class="form-group file-upload-box-right-container no-padding-right-respo no-padding-left-respo col-lg-4 col-sm-6 col-md-4 col-xs-12">
                                                        <label for="exampleInputEmail1">Thumbnail</label>

                                                        <div class="file-upload-box-top">
                                                            <div class="custom-file col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                                                @Html.TextBoxFor(model => model.PostedFileThumbnail, new { type = "file", id = "customThumbNail", htmlAttributes = new { @class = "custom-file-input" } })
                                                                <label id="lblThumbnailChooseFile" class="custom-file-label" for="customThumbNail">Choose file</label>
                                                                @*@Html.TextBoxFor(model => model.PostedFileThumbnail, new { type = "file", id = "customThumbNail" })*@
                                                                @Html.ValidationMessageFor(model => model.PostedFileThumbnail, "", new { @class = "text-danger" })
                                                                <div style="display:none">
                                                                    @Html.TextBoxFor(model => model.ThumbnailFileName, new { htmlAttributes = new { @class = "form-control" } })
                                                                </div>
                                                                <label style="background-color: #f2f2f2;font-size: 16px" id="customThumbNailName">
                                                                    @Html.DisplayFor(model => model.ThumbnailFileName)
                                                                </label>

                                                                <button type="button" class="highFileButton" id="btncustomFileThumbNailName">Remove</button>
                                                            </div>
                                                        </div>

                                                        <div class="no-padding-left col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                                            <div class="uploaded-file-thumbnail-box">
                                                                <img id="image_upload_preview" />
                                                            </div>
                                                            <span id="customThumbNailSize" class="sub-label"></span>
                                                        </div>

                                                    </div>

                                                    <div class="box-footer-inner display-inline-block  margin-0-auto col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                                        <input id="uploadForm" value="Upload" type="button" class="btn btn-grey" />
                                                        <label id="errorUploadMsg" class="text-danger"></label>
                                                    </div>
                                                    @*}*@
                                                </div>

                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                        <div class="box-footer">
                                            <div class="pull-right col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                                @*<button type="submit" class="btn btn-grey pull-right">Cancel</button>*@
                                                <button type="button" onclick="location.href='@Url.Action("GetSubTopics", "SubTopics", new { @id = Model.TopicId })'" class="btn btn-grey pull-right">Cancel</button>
                                                <button id="btnMoreSave" type="submit" class="btn btn-grey pull-right">Save</button>
                                            </div>
                                        </div>
                                    }
                                </form>
                            </div>
                        </div>
                        <!--<img src="img/div-place-right.png" class="" alt="backend" style="height: auto; width: 76%;">-->
                    </div>
                </div>

            </section>

        </div>
    </div>
    <!-- /.content -->
    <div class="modal fade" id="modal-default" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Are you sure you want to re-publish GRADE 12?</p>
                </div>
                <div class="modal-footer">
                    <div class="col-lg-10 col-sm-10 col-md-8 col-xs-12 float-none margin-0-auto">
                        <button type="button" class="btn pull-left">Yes</button>
                        <button type="button" class="btn pull-right" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>
<!-- /.content-wrapper -->


@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
    @Scripts.Render("~/bundles/validate")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/upload")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        $(document).ready(function () {

           
            $("#btnMoreSave").click(function () {
                debugger;
                $("#formMoreScreen").attr("action", "/Asset/Edit");
            });




            $("#customFileHighName").show();
            $("#lblChooseFile").hide();
            $("#customFileHigh").hide();
            $("#btncustomFileHighName").show();

            $("#customFileMediumName").show();
            $("#lblMediumChooseFile").hide();
            $("#customFileMedium").hide();
            $("#btncustomFileMediumName").show();

            $("#customFileLowName").show();
            $("#lblLowChooseFile").hide();
            $("#customFileLow").hide();
            $("#btncustomFileLowName").show();

            $("#customThumbNailName").show();
            $("#lblThumbnailChooseFile").hide();
            $("#customThumbNail").hide();
            $("#btncustomFileThumbNailName").show();
            $('#image_upload_preview').attr('src', "@ViewBag.ThumbnailPath");

            $("#customFile1Size").text("@ViewBag.fileHSize");
            $("#customFile2Size").text("@ViewBag.fileMSize");
            $("#customFile3Size").text("@ViewBag.fileLSize");
            $("#customThumbNailSize").text("@ViewBag.ThumbnailSize");



        
            $('.differentClass').addClass($('.firstClass').attr('class'));

            $('select').niceSelect();

            $('.custom-file-input').on('change', function () {
                //get the file name
                var fileName = $(this).val();
                //replace the "Choose a file" label
                $(this).next('.custom-file-label').html(fileName);
            });

            $(".header-asset-status a").click(function () {
                if ($(this).hasClass("video-hide-btn")) {

                    $(".header-asset-status .video-show").hide();
                    $(".header-asset-status .video-hide").show();
                    return false;
                }
                else {
                    $(".header-asset-status .video-show").show();
                    $(".header-asset-status .video-hide").hide();
                    return false;
                }
            });
        })

        $('.video-hide-btn').click(function () {
                $(".toggle-img img").attr('src', '/Content/img/video_hidden.png');
                $(".toggle-img").removeClass('play');
                isSetAssetHide(0);
        });

        $('.video-show-btn').click(function () {
                $(".toggle-img img").attr('src', '/Content/img/video_show.png');
                $(".toggle-img").addClass('play');
                isSetAssetHide(1);
        });


        $('.toggle-img').click(function () {
            if (!$(this).hasClass('play')) {
                $(".toggle-img img").attr('src', '/Content/img/video_show.png');
                $(this).addClass('play');
                isSetAssetHide(1);
            } else {
                $(".toggle-img img").attr('src', '/Content/img/video_hidden.png');
                $(this).removeClass('play');
                isSetAssetHide(0);
            }
        });


        function isSetAssetHide(hideShow) {
            $.ajax({
                url: "/Asset/setAssetHide",
                type: 'POST',
                data: { id: hideShow }
            }).done(function (data) {

            }).fail(function () {
                alert("There is something wrong. Please try again.");
            })
        }


        $("#uploadForm").click(function () {
            debugger;
            if ($("#customFileHigh")[0].files[0] != undefined && $("#customFileHigh")[0].files[0].name.split('.').pop() == "mp4") {
                $("#lblChooseFile").hide();
                $("#customFileHigh").hide();
                $("#customFileHighName").text($("#customFileHigh")[0].files[0].name);
                $("#customFileHighName").show();
                $("#btncustomFileHighName").show();
            }
            if ($("#customFileMedium")[0].files[0] != undefined && $("#customFileMedium")[0].files[0].name.split('.').pop() == "mp4") {
                $("#lblMediumChooseFile").hide();
                $("#customFileMedium").hide();
                $("#customFileMediumName").text($("#customFileMedium")[0].files[0].name);
                $("#customFileMediumName").show();
                $("#btncustomFileMediumName").show();
            }
            if ($("#customFileLow")[0].files[0] != undefined && $("#customFileLow")[0].files[0].name.split('.').pop() == "mp4") {
                $("#lblLowChooseFile").hide();
                $("#customFileLow").hide();
                $("#customFileLowName").text($("#customFileLow")[0].files[0].name);
                $("#customFileLowName").show();
                $("#btncustomFileLowName").show();
            }
            if ($("#customThumbNail")[0].files[0] != undefined && ($("#customThumbNail")[0].files[0].name.split('.').pop() == "jpg" || $("#customThumbNail")[0].files[0].split('.').pop() == "png")) {
                $("#lblThumbnailChooseFile").hide();
                $("#customThumbNail").hide();
                $("#customThumbNailName").text($("#customThumbNail")[0].files[0].name);
                $("#customThumbNailName").show();
                $("#btncustomFileThumbNailName").show();
            }

            if (($("#customFileHighName").text() == "" || $("#customFileMediumName").text() == "" || $("#customFileLowName").text() == "") && $("#customThumbNailName").text() == ""){
                $("#errorUploadMsg").text("Upload File..");
                return false;
            }
            $("#errorUploadMsg").text("");
            $('#btnMoreSave').removeAttr("disabled");

        });

        $("#btncustomFileHighName").click(function () {
            $("#btnMoreSave").attr("disabled", true);
            $("#lblChooseFile").show();
            $("#lblChooseFile").text("Choose file");
            $("#customFileHigh").show();
            $("#customFileHigh").val("");
            $("#customFile1Size").text("");
            $("#customFileHighName").text("")
            $("#customFileHighName").hide();
            $("#btncustomFileHighName").hide();
        });

        $("#btncustomFileMediumName").click(function () {
            $("#btnMoreSave").attr("disabled", true);
            $("#lblMediumChooseFile").show();
            $("#lblMediumChooseFile").text("Choose file");
            $("#customFileMedium").show();
            $("#customFileMedium").val("");
            $("#customFile2Size").text("");
            $("#customFileMediumName").text("")
            $("#customFileMediumName").hide();
            $("#btncustomFileMediumName").hide();
        });

        $("#btncustomFileLowName").click(function () {
            $("#btnMoreSave").attr("disabled", true);
            $("#lblLowChooseFile").show();
            $("#lblLowChooseFile").text("Choose file");
            $("#customFileLow").show();
            $("#customFileLow").val("");
            $("#customFile3Size").text("");
            $("#customFileLowName").text("");
            $("#customFileLowName").hide();
            $("#btncustomFileLowName").hide();
        });

        $("#btncustomFileThumbNailName").click(function () {
            $("#btnMoreSave").attr("disabled", true);
            $("#lblThumbnailChooseFile").show();
            $("#lblThumbnailChooseFile").text("Choose file");
            $("#customThumbNail").show();
            $("#customThumbNail").val("");
            $("#customThumbNailSize").text("");
            $('#image_upload_preview').attr('src', "");
            $("#customThumbNailName").text("");
            $("#customThumbNailName").hide();
            $("#btncustomFileThumbNailName").hide();
        });


        $(".more").on("click", function () {
            $("#assetType").text($("#SelectedAssetType option:selected").text());
            $("#SelectedMoreScreenSubTopic").val($("#SelectedSubTopic").val());
            $('#SelectedMoreScreenSubTopic').niceSelect('update');

            //$("#SelectedMoreAssetType").val($("#SelectedAssetType").val());
            //$('#SelectedMoreAssetType').niceSelect('update');

            $("#moreScreen #AssetId").val($("#addScreen #AssetId").val());
            $("#moreScreen #AssetName").val($("#addScreen #AssetName").val());
            $("#moreScreen #Description").val($("#addScreen #Description").val());
            $("#moreScreen").show();
            //$("#btnMoreSave").attr("disabled", true);
            $("#addScreen").hide();
            return false;
        })



        $("#customFileHigh").on("change", function (e) {
            fileHigh = e.target.files[0];
            if (e.target.files && e.target.files[0]) {
                var size = e.target.files[0].size;
                var customFileSizeMB = "(" + (size / (1024 * 1024)).toFixed(2) + "MB)";
                $("#lblChooseFile").text(fileHigh.name);
                $("#customFile1Size").text(customFileSizeMB);
            } else {
                $("#lblChooseFile").text("Choose file");
                $("#customFile1Size").text("");
            }
        });

        $("#customFileMedium").on("change", function (e) {
            fileMedium = e.target.files[0];
            if (e.target.files && e.target.files[0]) {
                var size = e.target.files[0].size;
                var customFileSizeMB = "(" + (size / (1024 * 1024)).toFixed(2) + "MB)";
                $("#lblMediumChooseFile").text(fileMedium.name);
                $("#customFile2Size").text(customFileSizeMB);
            }
            else {
                $("#lblMediumChooseFile").text("Choose file");
                $("#customFile2Size").text("");
            }
        });
        $("#customFileLow").on("change", function (e) {
            fileLow = e.target.files[0];
            if (e.target.files && e.target.files[0]) {
                var size = e.target.files[0].size;
                var customFileSizeMB = "(" + (size / (1024 * 1024)).toFixed(2) + "MB)";
                $("#lblLowChooseFile").text(fileLow.name);
                $("#customFile3Size").text(customFileSizeMB);
            } else {
                $("#lblLowChooseFile").text("Choose file");
                $("#customFile3Size").text("");
            }
        });

        $("#customThumbNail").on("change", function (e) {
            fileThumbnail = e.target.files[0];
            if (e.target.files && e.target.files[0]) {
                var reader = new FileReader();
                var size = e.target.files[0].size;
                var customFileSizeMB = "(" + (size / (1024 * 1024)).toFixed(2) + "MB)";
                $("#lblThumbnailChooseFile").text(fileThumbnail.name);
                $("#customThumbNailSize").text(customFileSizeMB);
                reader.onload = function (e) {
                    $('#image_upload_preview').attr('src', e.target.result);
                }
                reader.readAsDataURL(e.target.files[0]);
            } else {
                $('#image_upload_preview').removeAttr("src");
                $("#lblThumbnailChooseFile").text("Choose file");
                $("#customThumbNailSize").text("");
            }
        });

          $(function () {
            $(".list-group-sortable").sortable({

                update: function (event, ui) {
                    var orderSb = 1;
                    var orderA = 1;
                    var modelSB = [];
                    debugger;
                    var modelA = [];
                    $("ul#sbSortable>li").each(function () {
                        $('ul#sbSortable').sortable('disable');
                        var hdn = $('#hdnSB', '.list-group-sortable li').eq(orderSb - 1);
                        var objModel = { SubtopicId: hdn.val(), SubtopicNo: orderSb };
                        modelSB.push(objModel);
                        orderSb++;
                    });

                    $("ul#assetSortable>li").each(function () {
                        $('ul#assetSortable').sortable('disable');
                        var hdn = $('#hdnAsset', '.list-group-sortable li').eq(orderA - 1);
                        var objModel = { AssetId: hdn.val(), AssetNo: orderA };
                        modelA.push(objModel);
                        orderA++;
                    });

                    if (modelSB.length > 1) {
                        $.ajax({
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            url: '@Url.Action("UpdateSubTopicsOrderAsync", "SubTopics")',
                            data: JSON.stringify({ lstSubTopicModel: modelSB }),
                            success: function (data) {
                               // location.reload();
                            },
                            error: function (jqXHR, exception) {
                                var msg = '';
                                if (jqXHR.status === 0) {
                                    msg = 'Not connect.\n Verify Network.';
                                } else if (jqXHR.status == 404) {
                                    msg = 'Requested page not found. [404]';
                                } else if (jqXHR.status == 500) {
                                    msg = 'Internal Server Error [500].';
                                } else if (exception === 'parsererror') {
                                    msg = 'Requested JSON parse failed.';
                                } else if (exception === 'timeout') {
                                    msg = 'Time out error.';
                                } else if (exception === 'abort') {
                                    msg = 'Ajax request aborted.';
                                } else {
                                    msg = 'Uncaught Error.\n' + jqXHR.responseText;
                                }
                                alert(msg);

                            }
                        });
                    }

                    if (modelA.length > 1) {
                        $.ajax({
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            url: '@Url.Action("UpdateAssetOrderAsync", "SubTopics")',
                            data: JSON.stringify({ lstAssetModel: modelA }),
                            success: function (data) {
                                location.reload();
                            },
                            error: function (jqXHR, exception) {
                                var msg = '';
                                if (jqXHR.status === 0) {
                                    msg = 'Not connect.\n Verify Network.';
                                } else if (jqXHR.status == 404) {
                                    msg = 'Requested page not found. [404]';
                                } else if (jqXHR.status == 500) {
                                    msg = 'Internal Server Error [500].';
                                } else if (exception === 'parsererror') {
                                    msg = 'Requested JSON parse failed.';
                                } else if (exception === 'timeout') {
                                    msg = 'Time out error.';
                                } else if (exception === 'abort') {
                                    msg = 'Ajax request aborted.';
                                } else {
                                    msg = 'Uncaught Error.\n' + jqXHR.responseText;
                                }
                                alert(msg);

                            }
                        });
                    }
                }

            });



        });



    </script>



}
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/css/CreateVideo.css");