﻿@model EdukiteService.Business.Entities.AssetModel
@{
    ViewBag.Title = "EditSimulationorInteractive";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <!-- Main content -->
            <section class="content backend-middle-main-container">

                <div class="backend-middle-main-container-inner add-asset-topic-container">

                    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                        <div class="form-container">
                            <div class="box box-primary">
                                <div class="box-header margin-0-auto">
                                    <!--<a href="#" class="delete-btn">&nbsp;</a>-->
                                    <h3 class="box-title">Edit Asset: <strong>Int/Sim</strong>	</h3>
                                    @*<div class="header-asset-status margin-0-auto">
                                            <img src="img/int_Show.png" alt="edukite" class="video-show">
                                            <img src="img/int_hidden.png" alt="edukite" class="video-hide" style="display: none;"><br>
                                            <a href="" class="video-hide-btn">Hide</a>/<a href="" class="video-show-btn">Show</a>
                                        </div>*@


                                    <div class="header-asset-status margin-0-auto">
                                        <a href="#" class="toggle-img">
                                            @if (Model.isAssetHide)
                                            {
                                                <img src="~/Content/img/int_Show.png" class="" alt="edukite">
                                            }
                                            else
                                            {
                                                <img src="~/Content/img/int_hidden.png" class="" alt="edukite">
                                            }
                                        </a>
                                        <a href="#" class="video-hide-btn">Hide</a>/<a href="#" class="video-show-btn">Show</a>
                                    </div>
                                </div>
                                <!-- /.box-header -->
                                <!-- form start -->
                                <form role="form" method="post" enctype="multipart/form-data" class="add-asset-form-container">
                                    <div class="add-asset-form-container-inner">
                                        <div class="box-body">

                                            <div class="form-group asset-selcetion no-padding-right pull-left no-padding-left col-lg-5 col-sm-5 col-md-5 col-xs-12">
                                                <label for="exampleInputEmail1">Subtopic</label>
                                                @if (Model.SubtopicId != null)
                                                {
                                                    <div>
                                                        @Html.DropDownList("SelectedMoreScreenSubTopic", new SelectList((System.Collections.IEnumerable)ViewData["SubTopicData"], "SubtopicId", "SubtopicName", Model.SubtopicId), "None", new { htmlAttributes = new { @class = "firstopt form-control nice-select option current" } })
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div>
                                                        @Html.DropDownList("SelectedMoreScreenSubTopic", new SelectList((System.Collections.IEnumerable)ViewData["SubTopicData"], "SubtopicId", "SubtopicName"), "None", new { htmlAttributes = new { @class = "firstopt form-control nice-select option current" } })
                                                    </div>
                                                }
                                            </div>

                                            <div style="display:none">
                                                @Html.EditorFor(model => model.TopicId, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.EditorFor(model => model.AssetTypeId, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.EditorFor(model => model.FileName, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.EditorFor(model => model.ThumbnailFileName, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.EditorFor(model => model.FolderName, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>

                                            <div class="form-group no-padding-left no-padding-right pull-right col-lg-5 col-sm-5 col-md-5 col-xs-12">
                                                <label for="exampleInputEmail1">Asset UUID*</label>
                                                <div>
                                                    @Html.EditorFor(model => model.AssetId, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.AssetId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Name*</label>
                                                <div>
                                                    @Html.EditorFor(model => model.AssetName, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.AssetName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group no-padding-right-respo no-padding-left pull-left col-lg-4 col-sm-4 col-md-4 col-xs-12">
                                                <label for="exampleInputEmail1">Duration (Seconds)*</label>
                                                <div>
                                                    @Html.EditorFor(model => model.SuggestedActiveDuration, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.SuggestedActiveDuration, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group no-padding-left no-padding-right pull-right col-lg-8 col-sm-8 col-md-8 col-xs-12">
                                                <label for="exampleInputPassword1">Description</label>
                                                <div>
                                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group image-upload-container file-upload-box add-int-sim">
                                                <div class="form-group no-padding-left no-padding-right col-lg-8 col-sm-12 col-md-8 col-xs-12">

                                                    <div class="file-upload-box-top">
                                                        <label class="reso-label" for="exampleInputEmail1">Type*</label>
                                                        <div class="custom-file col-lg-9 col-sm-8 col-md-8 col-xs-12">
                                                            <div>
                                                                @Html.DropDownList("SelectedSimIntAssetType", new SelectList((System.Collections.IEnumerable)ViewData["assetTypeSimIntData"], "AssetTypeId", "Description", Model.AssetTypeId), new { htmlAttributes = new { @class = "firstopt form-control nice-select option current" } })
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="file-upload-box-top">
                                                        <label class="reso-label" for="imageHigh">Zip Folder*</label>
                                                        <div class="custom-file col-lg-9 col-sm-8 col-md-8 col-xs-8">

                                                            <div class="custom-file col-lg-9 col-sm-8 col-md-8 col-xs-8">
                                                                @Html.TextBoxFor(model => model.PostedFileZip, new { type = "file", id = "customFileZip", htmlAttributes = new { @class = "custom-file-input" } })
                                                                <label id="lblZipChooseFile" class="custom-file-label" for="customFileZip">Choose file</label>
                                                            </div>
                                                            <label id="customFileZipName" style="background-color: #f2f2f2;font-size: 16px"></label>
                                                            <button type="button" class="highFileButton" id="btnCustomFileZipName">Remove</button>
                                                            <span id="customFileZipSize" class="sub-label"></span>
                                                        </div>

                                                        @Html.ValidationMessageFor(model => model.PostedFileZip, "", new { @class = "text-danger" })

                                                    </div>

                                                </div>

                                                <div class="form-group file-upload-box-right-container no-padding-right-respo no-padding-left-respo col-lg-4 col-sm-6 col-md-4 col-xs-12">
                                                    <label for="exampleInputEmail1" class="text-center">Thumbnail preview:</label>

                                                    <div class="no-padding-left col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                                        <div class="uploaded-file-thumbnail-box">
                                                            <img id="image_upload_preview" />
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="box-footer-inner display-inline-block  margin-0-auto col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                                    <button id="uploadForm" type="button" class="btn btn-grey">Upload</button>
                                                </div>

                                            </div>

                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                    <div class="box-footer">
                                        <div class="pull-right col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                            <button type="button" onclick="location.href='@Url.Action("GetSubTopics", "SubTopics", new { @id = Model.TopicId })'" id="btnMoreCancle" class="btn btn-grey pull-right">Cancel</button>
                                            <button type="submit" id="btnCreate" class="btn btn-grey pull-right">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!--<img src="img/div-place-right.png" class="" alt="backend" style="height: auto; width: 76%;">-->
                    </div>
                </div>

            </section>

        </div>
    </div>
    <!-- /.content -->

</div>
<!-- /.content-wrapper -->


@section scripts{
    @*@Scripts.Render("~/bundles/jqueryval")*@
    @Scripts.Render("~/bundles/validate")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/upload")
    <script>

        $("#customFileZip").on("change", function (e) {
            debugger;
            filesInput = e.target.files[0];
            var res;
            var reader = new FileReader();
            if (e.target.files && e.target.files[0]) {
                var size = e.target.files[0].size;
                var customFileZipSizeMB = "(" + (size / (1024 * 1024)).toFixed(2) + "MB)";
                lblZipChooseFile
                $("#lblZipChooseFile").text(filesInput.name);
                $("#customFileZipSize").text(customFileZipSizeMB);
                var formData = new FormData();
                formData.append('filesInput', filesInput);
             formData.append("AssetId", '@Model.AssetId');
                formData.append("AssetTypeId", @Model.AssetTypeId);
                formData.append("TopicId", @Model.TopicId);
                $.ajax({
                    url: "/Asset/GetZipFileInfo",
                    type: 'post',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function (data) {
                        $('#image_upload_preview').attr('src', data);

                    }
                });


            } else {
                $("#lblZipChooseFile").text("Choose file");
                $("#customFileZipSize").text();
                $('#image_upload_preview').removeAttr("src");
            }
        });

        $(document).ready(function () {
            $("#customFileZip").hide();
            $("#lblZipChooseFile").hide();
            $("#btnCustomFileZipName").show();
            $("#customFileZipName").show();

            $("#customFileZipName").text('@ViewBag.FileZip');
            $("#customFileZipSize").text('@ViewBag.fileHSize');
            $('#image_upload_preview').attr('src', '@ViewBag.ThumbnailPath');

            $("#btnCreate").attr("disabled", false);


        });

        $('.video-hide-btn').click(function () {
            $(".toggle-img img").attr('src', '/Content/img/int_hidden.png');
            $(".toggle-img").removeClass('play');
            isSetAssetHide(0);
        });

        $('.video-show-btn').click(function () {
            $(".toggle-img img").attr('src', '/Content/img/int_Show.png');
            $(".toggle-img").addClass('play');
            isSetAssetHide(1);
        });


        $('.toggle-img').click(function () {
            if (!$(this).hasClass('play')) {
                $(".toggle-img img").attr('src', '/Content/img/int_Show.png');
                $(this).addClass('play');
                isSetAssetHide(1);
            } else {
                $(".toggle-img img").attr('src', '/Content/img/int_hidden.png');
                $(this).removeClass('play');
                isSetAssetHide(0);
            }
        });


        function isSetAssetHide(hideShow) {
            $.ajax({
                url: "/Asset/setAssetHide",
                type: 'POST',
                data: { id: hideShow }
            }).done(function (data) {

            }).fail(function () {
                alert("There is something wrong. Please try again.");
            })
        }

        $("#btnCustomFileZipName").click(function () {
            $("#btnCreate").attr("disabled", true);
            $("#lblZipChooseFile").show();
            $("#lblZipChooseFile").text("Choose file");
            $("#customFileZip").show();
            $("#customFileZip").val("");
            $("#customFileZipSize").text("");
            $("#customFileZipName").hide();
            $("#btnCustomFileZipName").hide();
            $('#image_upload_preview').attr('src', "");
        });


        $("#uploadForm").click(function () {

            if ($("#customFileZip")[0].files[0] != undefined && $("#customFileZip")[0].files[0].name.split('.').pop() == "zip")
            {
                $("#lblZipChooseFile").hide();
                $("#customFileZip").hide();
                $("#customFileZipName").text($("#customFileZip")[0].files[0].name);
                $("#customFileZipName").show();
                $("#btnCustomFileZipName").show();
                $("#btnCreate").attr("disabled", false);
            }
            else {
                $("#btnCreate").attr("disabled", true);
            }

        })
    </script>
}
@Styles.Render("~/Content/css/CreateVideo.css");