﻿@model EdukiteService.Business.Entities.AssetModel
@{
    ViewBag.Title = "Edit";
}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" id="addScreen">
    <div class="container">
        <div class="row">
            <!-- Main content -->
            <section class="content backend-middle-main-container">

                <div class="backend-middle-main-container-inner">
                    <div class="col-lg-8 col-sm-6 col-md-6 col-xs-12">
                        @Html.Partial("~/Views/SubTopics/_GetSubTopics.cshtml", (EdukiteService.Business.Entities.CommonSubTopicAssetModel)ViewBag.SubTopicAssetData)
                    </div>

                    <div class="col-lg-4 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-container form-group-width">
                            <div class="box box-primary">
                                <div class="box-header">
                                    <!--<a href="#" class="delete-btn">&nbsp;</a>-->
                                    <h3 class="box-title">Edit Asset</h3>
                                </div>
                                <!-- /.box-header -->
                                <!-- form start -->
                                <form role="form" id="formAddScreen" method="post">

                                    <div class="box-body">
                                        <div class="header-asset-status margin-0-auto">
                                            <a href="#" class="toggle-img">

                                                @if (Model.AssetTypeId == 1)
                                                {
                                                    if (Model.isAssetHide)
                                                    {
                                                        <img src="~/Content/img/video_Show.png" class="" alt="edukite">
                                                    }
                                                    else
                                                    {
                                                        <img src="~/Content/img/video_hidden.png" class="" alt="edukite">
                                                    }
                                                }
                                                else if (Model.AssetTypeId == 2)
                                                {

                                                }
                                                else if (Model.AssetTypeId == 3 || Model.AssetTypeId == 4)
                                                {
                                                    if (Model.isAssetHide)
                                                    {
                                                        <img src="~/Content/img/int_Show.png" class="" alt="edukite">
                                                    }
                                                    else
                                                    {
                                                        <img src="~/Content/img/int_hidden.png" class="" alt="edukite">
                                                    }
                                                }


                                            </a>
                                        </div>
                                        <div class="form-group asset-selcetion">
                                            <label for="exampleInputEmail1">Subtopic*</label>
                                            @if (Model.SubtopicId != null)
                                            {
                                                <div>
                                                    @Html.DropDownList("SelectedSubTopic", new SelectList((System.Collections.IEnumerable)ViewData["SubTopicData"], "SubtopicId", "SubtopicName", Model.SubtopicId), "None", new { htmlAttributes = new { @class = "firstopt form-control nice-select option current" } })
                                                </div>
                                            }
                                            else
                                            {
                                                <div>
                                                    @Html.DropDownList("SelectedSubTopic", new SelectList((System.Collections.IEnumerable)ViewData["SubTopicData"], "SubtopicId", "SubtopicName"), "None", new { htmlAttributes = new { @class = "firstopt form-control nice-select option current" } })
                                                </div>
                                            }
                                        </div>

                                       


                                        <div class="form-group asset-selcetion" style="display:none">
                                            <label for="exampleInputEmail1">Asset type*</label>
                                            <div>
                                                @Html.DropDownList("SelectedAssetType", new SelectList((System.Collections.IEnumerable)ViewData["AssetTypeData"], "AssetTypeId", "Description", Model.AssetTypeId), new { htmlAttributes = new { @class = "firstopt form-control nice-select option current" } })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Asset UUID*</label>
                                            <div>
                                                @Html.EditorFor(model => model.AssetId, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.AssetId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div style="display:none" class="form-group">
                                            @Html.EditorFor(model => model.AssetLength, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.EditorFor(model => model.FileName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.EditorFor(model => model.ThumbnailFileName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.EditorFor(model => model.FolderName, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Name*</label>
                                            <div>
                                                @Html.EditorFor(model => model.AssetName, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.AssetName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group margin-bottom-0">
                                            <label for="exampleInputPassword1">Description</label>
                                            <div>
                                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control height-75" } })
                                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    </div>
                                    <!-- /.box-body -->

                                    <div class="box-footer">
                                        <div class="box-footer-inner col-lg-9 col-sm-10 col-md-8 col-xs-12">
                                            <div class="margin-bottom-15 col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                                <a href="#" class="more">More</a>
                                            </div>

                                            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                                <button type="submit" id="btnSmallSave" class="btn btn-grey pull-left">Save</button>
                                               
                                                <button type="button" onclick="location.href='@Url.Action("GetSubTopics", "SubTopics", new { @id = Model.TopicId })'" class="btn btn-grey pull-right">Cancel</button>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                        <!--<img src="img/div-place-right.png" class="" alt="backend" style="height: auto; width: 76%;">-->
                    </div>
                </div>

            </section>

        </div>
    </div>
</div>
<!-- /.content-wrapper -->



@section Scripts {
@*@Scripts.Render("~/bundles/jqueryval")*@
    @Scripts.Render("~/bundles/validate")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/upload")

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jquery-ui")
@Scripts.Render("~/bundles/bootstrap")
    <script>
        $(document).ready(function () {

            $("#btnSmallSave").click(function () {
                debugger;
                $("#formAddScreen").attr("action", "/Asset/SaveForm");
            });

            $('select').niceSelect();


            //$(".header-asset-status a").click(function () {
            //    debugger;
            //    if ($(this).hasClass("video-hide-btn")) {

            //        $(".header-asset-status .video-show").hide();
            //        $(".header-asset-status .video-hide").show();
            //        return false;
            //    }
            //    else {
            //        $(".header-asset-status .video-show").show();
            //        $(".header-asset-status .video-hide").hide();
            //        return false;
            //    }
            //});
        })

        //$('.video-hide-btn').click(function () {
        //    debugger;
        //        $(".toggle-img img").attr('src', '/Content/img/video_hidden.png');
        //        $(".toggle-img").removeClass('play');
        //        isSetAssetHide(0);
        //});

        //$('.video-show-btn').click(function () {
        //    debugger;
        //        $(".toggle-img img").attr('src', '/Content/img/video_show.png');
        //        $(".toggle-img").addClass('play');
        //        isSetAssetHide(1);
        //});


        $('.toggle-img').click(function () {
           
            if (!$(this).hasClass('play')) {
                if (@Model.AssetTypeId == 1){
                    $(".toggle-img img").attr('src', '/Content/img/video_show.png');
                }
                else if (@Model.AssetTypeId == 2) {

                }
                else if(@Model.AssetTypeId == 3 || @Model.AssetTypeId == 4){
                    $(".toggle-img img").attr('src', '/Content/img/int_Show.png');
                }
                $(this).addClass('play');
                isSetAssetHide(1);
            } else {
                
                if (@Model.AssetTypeId == 1){
                    $(".toggle-img img").attr('src', '/Content/img/video_hidden.png');
                }
                else if (@Model.AssetTypeId == 2) {

                }
                else if(@Model.AssetTypeId == 3 || @Model.AssetTypeId == 4){
                    $(".toggle-img img").attr('src', '/Content/img/int_hidden.png');
                }
                $(this).removeClass('play');
                isSetAssetHide(0);
            }
        });


        function isSetAssetHide(hideShow) {
            $.ajax({
                url: "/Asset/setAssetHide",
                type: 'POST',
                data: { id: hideShow }
            }).done(function (data) {

            }).fail(function () {
                alert("There is something wrong. Please try again.");
            })
        }






        $(".more").on("click", function () {
            debugger;
             @*var formData = new FormData();
            formData.append('AssetId', $("#addScreen #AssetId").val());
            formData.append('AssetName', $("#addScreen #AssetName").val());
            formData.append('SubtopicId', $("#SelectedSubTopic").val());
            formData.append('AssetTypeId', $("#SelectedAssetType").val());
            formData.append('Description', $("#addScreen #Description").val());
            formData.append('TpoicId', @TempData["TopicId"]);
            $.ajax({
                url: "/Asset/CreateData",
                type: 'post',
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                success: function (data) {*@
            var data = $("#SelectedAssetType").val();
                    switch (data) {
                        case '1':
                            window.location.href = '@Url.Action("EditVideo", "Asset")' + '?id=' +'@Model.AssetId'+'&topicID='+@TempData["TopicId"];
                            break;
                        case '2':
                            break;
                        case '3':
                            window.location.href = '@Url.Action("EditSimulationorInteractive", "Asset")' + '?id=' +'@Model.AssetId'+'&topicID='+@TempData["TopicId"];
                            break;
                        case '4':
                              window.location.href = '@Url.Action("EditSimulationorInteractive", "Asset")' + '?id=' +'@Model.AssetId'+'&topicID='+@TempData["TopicId"];
                            break;
                    }
                //}
            //});
        })




          $(function () {
            $(".list-group-sortable").sortable({

                update: function (event, ui) {
                    var orderSb = 1;
                    var orderA = 1;
                    var modelSB = [];
                    debugger;
                    var modelA = [];
                    $("ul#sbSortable>li").each(function () {
                        $('ul#sbSortable').sortable('disable');
                        var hdn = $('#hdnSB', '.list-group-sortable li').eq(orderSb - 1);
                        var objModel = { SubtopicId: hdn.val(), SubtopicNo: orderSb };
                        modelSB.push(objModel);
                        orderSb++;
                    });

                    $("ul#assetSortable>li").each(function () {
                        $('ul#assetSortable').sortable('disable');
                        var hdn = $('#hdnAsset', '.list-group-sortable li').eq(orderA - 1);
                        var objModel = { AssetId: hdn.val(), AssetNo: orderA };
                        modelA.push(objModel);
                        orderA++;
                    });

                    if (modelSB.length > 1) {
                        $.ajax({
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            url: '@Url.Action("UpdateSubTopicsOrderAsync", "SubTopics")',
                            data: JSON.stringify({ lstSubTopicModel: modelSB }),
                            success: function (data) {
                               // location.reload();
                            },
                            error: function (jqXHR, exception) {
                                var msg = '';
                                if (jqXHR.status === 0) {
                                    msg = 'Not connect.\n Verify Network.';
                                } else if (jqXHR.status == 404) {
                                    msg = 'Requested page not found. [404]';
                                } else if (jqXHR.status == 500) {
                                    msg = 'Internal Server Error [500].';
                                } else if (exception === 'parsererror') {
                                    msg = 'Requested JSON parse failed.';
                                } else if (exception === 'timeout') {
                                    msg = 'Time out error.';
                                } else if (exception === 'abort') {
                                    msg = 'Ajax request aborted.';
                                } else {
                                    msg = 'Uncaught Error.\n' + jqXHR.responseText;
                                }
                                alert(msg);

                            }
                        });
                    }

                    if (modelA.length > 1) {
                        $.ajax({
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            url: '@Url.Action("UpdateAssetOrderAsync", "SubTopics")',
                            data: JSON.stringify({ lstAssetModel: modelA }),
                            success: function (data) {
                                location.reload();
                            },
                            error: function (jqXHR, exception) {
                                var msg = '';
                                if (jqXHR.status === 0) {
                                    msg = 'Not connect.\n Verify Network.';
                                } else if (jqXHR.status == 404) {
                                    msg = 'Requested page not found. [404]';
                                } else if (jqXHR.status == 500) {
                                    msg = 'Internal Server Error [500].';
                                } else if (exception === 'parsererror') {
                                    msg = 'Requested JSON parse failed.';
                                } else if (exception === 'timeout') {
                                    msg = 'Time out error.';
                                } else if (exception === 'abort') {
                                    msg = 'Ajax request aborted.';
                                } else {
                                    msg = 'Uncaught Error.\n' + jqXHR.responseText;
                                }
                                alert(msg);

                            }
                        });
                    }
                }

            });



        });



    </script>



}
@Styles.Render("~/Content/css") 
@Styles.Render("~/Content/css/CreateVideo.css");