﻿@model IEnumerable<EdukiteService.Business.Entities.SubjectModel>



@foreach (var item in Model)
{
    <div class="col-lg-3 col-md-4 col-xs-6 subject-box">
        <!-- small box -->
        <div class="small-box bg-light-grey">
            @if (!item.IsSubjectPublished)
            {
                Html.RenderAction("GetPublishedGrade", "Grades", new { GradeId = item.GradeID });
                if (Convert.ToBoolean(TempData["GradePublishFlag"]))
                {
                    <a href="@Url.Action("PublishSubject", "Subjects", new { id = item.SubjectId,GradeId = ViewBag.GradeID })" class="edit-asset publish-btn">&nbsp;</a>
                }

            }

            <div class="inner">
                <h3>
                    @if (item.Themedb != null) {
                        @Html.Action("GetInitials", "Subjects", new { themeId = item.Themedb })
                            }

                    <a href="@Url.Action( "index","topics", new { GradeId = item.GradeID,  SubId = item.SubjectId })">
                        <span>
                        @Html.DisplayFor(modelItem => item.ShortForm)
                        </span>
                    </a>
                </h3>

                <div class="subject-box-inner">
                    <div class="subject-box-inner-top">
                        @Html.DisplayFor(modelItem => item.SubjectName)

                    </div>
                    <div class="subject-box-inner-bottom">
                        <div class="subject-box-inner-bottom-left">
                            Theme:
                        </div>
                        <div class="subject-box-inner-bottom-right">
                            <span class="sub-color-name">@TempData["ThemeName"].ToString()</span>
                            <span class="sub-color-bar @TempData["ThemeClass"].ToString()"></span>
                        </div>
                    </div>
                </div>
            </div>

            <a href="@Url.Action("Edit", "Subjects", new { id = item.SubjectId, GradeID = ViewBag.GradeID })" class="edit-asset edit-btn"></a>
        </div>
    </div>


}