﻿@model EdukiteService.Business.Entities.CommonSubjectIconModel

@{
    ViewBag.Title = "Create";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <div class="container">
        <div class="row">

            <!-- Main content -->
            <section class="content backend-middle-main-container">

                @*<div class="px-md-12 col-lg-12 header-middle-text">
                    <div class="header-middle-text-inner">
                        @if (ViewBag.GradeName != null)
                        {
                            @ViewBag.GradeName
                        }
                    </div>
                </div>*@
                <div class="backend-middle-main-container-inner subject-box">
                    <div class="col-lg-7 col-sm-6 col-md-6 col-xs-12">
                        @if (ViewBag.SubjectData != null)
                        {
                            @Html.Partial("_GetSubjects", (IEnumerable<EdukiteService.Business.Entities.SubjectModel>)ViewBag.SubjectData)
                        }


                    </div>

                    <div class="col-lg-5 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-container">
                            <div class="box box-primary">
                                <div class="box-header">
                                    <h3 class="box-title">Add Subject</h3>
                                </div>
                                <!-- /.box-header -->
                                <!-- form start -->
                                <form role="form" action="/Subjects/Create" id="createForm" method="post" enctype="multipart/form-data">
                                    @using (Html.BeginForm("Create", "Subjects", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.Hidden("gradeId", TempData["GradeID"].ToString())

                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="box-body">

                                            <div class="form-group">
                                                <label>Name*</label>
                                                <div>
                                                    @Html.EditorFor(model => model.SubjectVM.SubjectName, new {htmlAttributes = new { @class = "form-control height-75"  } })
                                                    @Html.ValidationMessageFor(model => model.SubjectVM.SubjectName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            
                                            <div class="form-group theme-color-selcetion col-xs-12 no-padding-left">
                                                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12 no-padding-left">
                                                    <label>Theme*</label>
                                                    <div>
                                                        @Html.DropDownList("SelectedTheme", new SelectList((System.Collections.IEnumerable)ViewData["ThemeData"], "ThemeId", "ThemeColor"), "Select Theme", new { htmlAttributes = new { @class = "firstopt form-control nice-select option current" } })
                                                    </div>
                                                    <span id="erorThemeMsg" class="text-danger col-xs-12 no-padding-left"></span>
                                                </div>


                                                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12 no-padding-right">
                                                    <label>Short Form*</label>
                                                    <div>
                                                        @Html.EditorFor(model => model.SubjectVM.ShortForm, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.SubjectVM.ShortForm, "", new { @class = "text-danger" })
                                                    </div>

                                                </div>
                                            </div>

                                            @*<div class="form-group">
                                                <label>Icon Zip*</label>
                                                @Html.TextBoxFor(model => model.IconsVM.PostedFile, new { type = "file", id = "file" })
                                                @Html.ValidationMessageFor(model => model.IconsVM.PostedFile, "", new { @class = "text-danger" })
                                                <span id="erorFileMsg" class="text-danger"></span>
                                            </div>*@

                                            <div class="form-group file-upload">
                                                <label for="exampleInputPassword1">Icon Zip*</label>
                                                <div class="custom-file">
                                                    @*<input type="file" class="custom-file-input" id="inputGroupFile01">*@
                                                    @Html.TextBoxFor(model => model.IconsVM.PostedFile, new { type = "file", id = "file", htmlAttributes = new { @class = "custom-file-input" } })
                                                    <label id="lblChooseFile" class="custom-file-label" for="file">Choose file</label>
                                                </div>
                                                @Html.ValidationMessageFor(model => model.IconsVM.PostedFile, "", new { @class = "text-danger" })
                                                <span id="erorFileMsg" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label>Description</label>
                                                <div>
                                                    @Html.EditorFor(model => model.SubjectVM.Description, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.SubjectVM.Description, "", new { @class = "text-danger" })
                                                </div>
                                            </div>


                                            @*<div class="form-group">
                                                    @Html.LabelFor(model => model.SubjectVM.GradeID, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div>
                                                        @Html.EditorFor('ViewData["GradeID"]', new { htmlAttributes = new { @class = "form-control" } })

                                                    </div>
                                                </div>*@

                                            <!--<div class="form-group">
                                              <p class="help-block">*The grade will have to be published manually using the <a href="#" class="publish-btn">&nbsp;</a> icon.</p>
                                            </div> -->

                                        </div>
                                    <!-- /.box-body -->

                                        <div class="box-footer">
                                            <div class="box-footer-inner col-lg-8 col-sm-10 col-md-8 col-xs-12">
                                                @*<button type="submit" class="btn btn-grey pull-left">Create</button>*@
                                                <input type="submit" id="btnSubmit" value="Create" class="btn btn-grey pull-left" />
                                                <button type="button" class="btn btn-grey pull-right" onclick="location.href='@Url.Action("GetSubjects", "subjects", new { @id = ViewBag.GradeID })'">Cancel</button>

                                            </div>
                                        </div>
                                    }

                                </form>
                            </div>
                        </div>
                        <!--<img src="img/div-place-right.png" class="" alt="backend" style="height: auto; width: 76%;">-->
                    </div>
                </div>

            </section>

        </div>
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->










@section Scripts {
    @Scripts.Render("~/bundles/validate")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/upload")

    <script>

        $("#SubjectVM_SubjectName").on('change', function () {
            onSubNameFocusOut();
        })

        function onSubNameFocusOut() {
            debugger;
            //var subjects = ['mathematics', 'physical sciences', 'life sciences', 'geography', 'social sciences', 'accounting', 'economics and management studies', 'business studies', 'english home language', 'english first additional language', 'natural sciences', 'natural sciences and technology'];
            var subjects = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewData["ThemeData"]));
            var sName = $("#SubjectVM_SubjectName").val();

            for (i = 0; i < subjects.length; i++) {
                if (subjects[i].ThemeSubject.toLocaleLowerCase().includes(sName.toLocaleLowerCase())) {
                    updateTheme(subjects[i].ThemeId);
                    return;
                }
              
            }
            $('#SelectedTheme').val('');
            $('#SelectedTheme').niceSelect('update');
            updateThemeDropdown();
           
        }

        function updateTheme(themeValue) {
            var sClass = $(".list").find("li[data-value=" + themeValue +"]").attr("class");
            $('#SelectedTheme').val(themeValue);
            $('#SelectedTheme').niceSelect('update');
          //  $('#SelectedTheme').prop('disabled', true).niceSelect('update');
            sClass = sClass + " selected";
            $('#current').removeAttr("class");
            $('#current').attr("class", sClass);
            updateThemeDropdown();
        }

        $("#btnSubmit").on("click", function () {
            if ($('#SelectedTheme').val() == "") {
                $("#erorThemeMsg").html("The Theme is required");
                return false;
            }
            if ($('#file').val() == "") {
                $("#erorFileMsg").html("Please upload file");
                return false;
            }
        });

        $("#SelectedTheme").bind("change", function () {
            $("#erorThemeMsg").html("");
        });

        $("#file").bind("change", function (e) {
            $("#erorFileMsg").html("");
            if (e.target.files[0] != undefined)
                $("#lblChooseFile").text(e.target.files[0].name);
            else
                $("#lblChooseFile").text("Choose file");
            
        });

        $(document).ready(function () {
            updateThemeDropdown();
        });

        function updateThemeDropdown() {
            $(".list li").each(function () {
                var color = "";
                if ($(this).text().toLocaleLowerCase() == "dark yellow")
                    color = "dark-yellow";
                else if ($(this).text().toLocaleLowerCase() == "dark blue")
                    color = "dark-blue";
                else
                    color = $(this).text().toLocaleLowerCase();

                $(this).addClass(color + "-theme-option form-control");
            });
        }

    </script>
}

