﻿@model EdukiteService.Business.Entities.CommonSubjectIconModel

@{
    ViewBag.Title = "Edit";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <!-- Main content -->
            <section class="content backend-middle-main-container">
                <div class="backend-middle-main-container-inner subject-box">
                    <div class="col-lg-7 col-sm-6 col-md-6 col-xs-12">
                        @if (ViewBag.SubjectData != null)
                        {
                            @Html.Partial("_GetSubjects", (IEnumerable<EdukiteService.Business.Entities.SubjectModel>)ViewBag.SubjectData)
                        }

                    </div>

                    <div class="col-lg-5 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-container form-group-width">
                            <div class="box box-primary">
                                <div class="box-header">
                                    <a href="#" class="delete-btn">&nbsp;</a>
                                    <h3 class="box-title">Edit Subject</h3>
                                </div>
                                <!-- /.box-header -->
                                <!-- form start -->
                                <form role="form" action="/Subjects/Edit" id="editForm" method="post" enctype="multipart/form-data">

                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.Hidden("initialSubjectName", Model.SubjectVM.SubjectName)
                                        @Html.Hidden("gradeId", Model.SubjectVM.GradeID)

                                        <div class="box-body">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            @Html.HiddenFor(model => model.SubjectVM.SubjectId)

                                            <div class="form-group" style="display:none">
                                                @Html.LabelFor(model => model.SubjectVM.SubjectId, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div>
                                                    @Html.EditorFor(model => model.SubjectVM.SubjectId, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.SubjectVM.SubjectId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label>Name*</label>
                                                <div>
                                                    @Html.EditorFor(model => model.SubjectVM.SubjectName, new { htmlAttributes = new { @class = "form-control height-75" } })
                                                    @Html.ValidationMessageFor(model => model.SubjectVM.SubjectName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group theme-color-selcetion">
                                                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12 no-padding-left">
                                                    <label>Theme*</label>
                                                    <div>
                                                        @Html.DropDownList("SelectedTheme", new SelectList((System.Collections.IEnumerable)ViewData["ThemeData"], "ThemeId", "ThemeColor", Model.SubjectVM.Themedb), new { htmlAttributes = new { @class = "firstopt form-control nice-select option current" } })

                                                    </div>
                                                    <span id="erorThemeMsg" class="text-danger col-xs-12 no-padding-left"></span>
                                                </div>

                                                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12 no-padding-right">
                                                    <label>Short Form*</label>
                                                    <div>
                                                        @Html.EditorFor(model => model.SubjectVM.ShortForm, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.SubjectVM.ShortForm, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                            </div>


                                            @*<div class="form-group">
                                                <label>Icon Zip*</label>
                                                @Html.TextBoxFor(model => model.IconsVM.PostedFile, new { type = "file", id = "file", name = "file", placeholder = "Choose a file..." })
                                                @Html.ValidationMessageFor(model => model.IconsVM.PostedFile, "", new { @class = "text-danger" })
                                                <span id="erorFileMsg" class="text-danger"></span>
                                                <ul class="attachment">
                                                    <li>
                                                        <a class="title" id="iconName" href="~/Content/Upload/@Model.IconsVM.IconName">@Model.IconsVM.IconName</a>
                                                        <a href="javascript:void(0);" data-id="@Model.IconsVM.IconName" class="deleteItem">X</a>
                                                    </li>
                                                </ul>
                                            </div>*@

                                            <div class="form-group file-upload">
                                                <label>Icon Zip*</label>
                                                <div class="custom-file">
                                                    
                                                    @Html.TextBoxFor(model => model.IconsVM.PostedFile, new { type = "file", id = "file", name = "file" })
                                                    <label id="lblChooseFile" class="custom-file-label" for="file">Choose file</label>
                                                </div>
                                                @Html.ValidationMessageFor(model => model.IconsVM.PostedFile, "", new { @class = "text-danger" })
                                                <span id="erorFileMsg" class="text-danger"></span>
                                                <ul class="attachment">
                                                    <li>
                                                        <a class="title" id="iconName" href="~/Content/Upload/@Model.IconsVM.IconName">@Model.IconsVM.IconName</a>
                                                        <a href="javascript:void(0);" data-id="@Model.IconsVM.IconName" class="deleteItem">X</a>
                                                    </li>
                                                </ul>
                                            </div>


                                            <div class="form-group">
                                                <label>Description</label>
                                                <div>
                                                    @Html.EditorFor(model => model.SubjectVM.Description, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.SubjectVM.Description, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group" style="display:none">

                                                @Html.LabelFor(model => model.SubjectVM.GradeID, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div>
                                                    @Html.EditorFor(model => model.SubjectVM.GradeID, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.SubjectVM.GradeID, "", new { @class = "text-danger" })
                                                </div>

                                            </div>

                                            <!--<div class="form-group">
                                              <p class="help-block">*The grade will have to be published manually using the <a href="#" class="publish-btn">&nbsp;</a> icon.</p>
                                            </div> -->

                                        </div>
                                    <!-- /.box-body -->

                                        <div class="box-footer">
                                            <div class="box-footer-inner col-lg-8 col-sm-10 col-md-8 col-xs-12">
                                                @*<button type="submit" class="btn btn-grey pull-left">Save</button>*@
                                                <input type="submit" id="btnSubmit" value="Save" class="btn btn-grey pull-left" />
                                                <button type="button" class="btn btn-grey pull-right" onclick="location.href='@Url.Action("GetSubjects", "subjects", new { @id = ViewBag.GradeID })'">Cancel</button>
                                            </div>
                                        </div>
                                    }

                                </form>
                            </div>
                        </div>
                        <!--<img src="img/div-place-right.png" class="" alt="backend" style="height: auto; width: 76%;">-->
                    </div>
                </div>

            </section>

        </div>
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                <h4 class="modal-title" style="color:black" id="myModalLabel">Are you sure, You want to Delete?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="modal-btn-yes">Yes</button>
                <button type="button" class="btn btn-primary" id="modal-btn-no">No</button>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/validate")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/upload")
    @Scripts.Render("~/bundles/deleteUpload")
    <script>


         var modalConfirm = function (callback) {

        $(".delete-btn").on("click", function () {
            $("#mi-modal").modal('show');
        });

        $("#modal-btn-yes").on("click", function () {
            callback(true);
            $("#mi-modal").modal('hide');
        });

        $("#modal-btn-no").on("click", function () {
            callback(false);
            $("#mi-modal").modal('hide');
        });
    };

    modalConfirm(function (confirm) {
        if (confirm) {
            window.location.href = '@Url.Action("DeleteSubject", "Subjects")' + '?id=' + @Model.SubjectVM.SubjectId +'&GradeId='+@ViewBag.GradeID;

            @*@Url.Action("DeleteSubject", "Subjects", new { id = Model.SubjectVM.SubjectId, GradeId = ViewBag.GradeID })*@

            } else {
            //Acciones si el usuario no confirma
            // $("#result").html("NO CONFIRMADO");
            }
            });


        $("#SubjectVM_SubjectName").on('change', function () {
            onSubNameFocusOut();
        })

        function onSubNameFocusOut() {
            debugger;
             var subjects = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewData["ThemeData"]));
            var sName = $("#SubjectVM_SubjectName").val();

            for (i = 0; i < subjects.length; i++) {
                if (subjects[i].ThemeSubject.toLocaleLowerCase().includes(sName.toLocaleLowerCase())) {
                    // alert(subjects[i].ThemeId);
                    updateTheme(subjects[i].ThemeId);
                    return;
                }

            }
            $('#SelectedTheme').val('Select Theme');
            $('#SelectedTheme').niceSelect('update');
            updateThemeDropdown();

            //var subjects = ['mathematics', 'physical sciences', 'life sciences', 'geography', 'social sciences', 'accounting', 'economics and management studies', 'business studies', 'english home language', 'english first additional language', 'natural sciences', 'natural sciences and technology'];
            //var sName = $("#SubjectVM_SubjectName").val();
            //var n = subjects.includes(sName.toLocaleLowerCase());
            //if (n) {
            //    switch (sName.toLocaleLowerCase()) {
            //        case "mathematics":
            //            updateTheme(1);
            //            break;
            //        case "physical sciences":
            //            updateTheme(2);
            //            break;
            //        case "life sciences":
            //            updateTheme(3);
            //            break;
            //        case "geography":
            //            updateTheme(4);
            //            break;
            //        case "social sciences":
            //            updateTheme(4);
            //            break;
            //        case "accounting":
            //            updateTheme(5);
            //            break;
            //        case "economics and management studies":
            //            updateTheme(5);
            //            break;
            //        case "business studies":
            //            updateTheme(6);
            //            break;
            //        case "english home language":
            //            updateTheme(7);
            //            break;
            //        case "english first additional language":
            //            updateTheme(7);
            //            break;
            //        case "natural sciences":
            //            updateTheme(8);
            //            break;
            //        case "natural sciences and technology":
            //            updateTheme(8);
            //            break;
            //    }
            //}
            //else {
            //    $('#SelectedTheme').val('Select Theme');
            //    $("#current").addClass("option form-control selected");
            //    $('#SelectedTheme').niceSelect('update');

            //  //  $('#SelectedTheme').prop('disabled', false).niceSelect('update');
            //    updateThemeDropdown();
            //}
        }

        function updateTheme(themeValue) {
            var sClass = $(".list").find("li[data-value=" + themeValue + "]").attr("class");
            $('#SelectedTheme').val(themeValue);
            $('#SelectedTheme').niceSelect('update');
            //$('#SelectedTheme').prop('disabled', true).niceSelect('update');
            sClass = sClass + " selected";
            $('#current').removeAttr("class");
            $('#current').attr("class", sClass);
            updateThemeDropdown();
        }



        $("#btnSubmit").on("click", function () {
            debugger;

            if ($('#SelectedTheme').val() == "" || $('#SelectedTheme').val() == null) {
                $("#erorThemeMsg").html("The Theme is required");
                return false;
            }

            var x = document.getElementById("iconName");
            if ($('#file').val() == "" && (x == null || x == "")) {
                $("#erorFileMsg").html("Please upload file");
                return false;
            }

        });

        $("#SelectedTheme").bind("change", function () {
            $("#erorThemeMsg").html("");
        });

        $("#file").bind("change", function (e) {
            $("#erorFileMsg").html("");
            if (e.target.files[0] != undefined)
                $("#lblChooseFile").text(e.target.files[0].name);
            else
                $("#lblChooseFile").text("Choose file");
        });

        $(document).ready(function () {

            var strColor = $('#current').text().toLocaleLowerCase();
            $("#current").addClass(strColor + "-theme-option form-control");
            updateThemeDropdown();
        });


        function updateThemeDropdown() {
            $(".list li").each(function () {
                var color = "";
                if ($(this).text().toLocaleLowerCase() == "dark yellow")
                    color = "dark-yellow";
                else if ($(this).text().toLocaleLowerCase() == "dark blue")
                    color = "dark-blue";
                else
                    color = $(this).text().toLocaleLowerCase();

                $(this).addClass(color + "-theme-option form-control");
            });
        }
    </script>
}
